



<div class="card flex justify-content-center">

  <p-panel header="INSCRIPCIÓN">


    <p-card header="INFORMACIÓN DEL CURSO"
    style="margin: 5px; background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
    <div class="grid">
        <div class="col-5 flex justify-content-center">
            <div style="float: left;">
              <p><strong>Nombre del curso: </strong> {{ curso!.nombreCurso }}</p>
                  
                </div>
            </div>
        

        <div class="col-5 flex justify-content-center">
            <div style="float: left;">
              <p><strong>Modalidad del curso: </strong> {{ curso!.modalidadCurso!.nombreModalidadCurso }}</p>
             
            </div>
        </div>
      </div>
</p-card>


<p-card header="DATOS PERSONALES" style="margin: 5px;">
  <div class="grid" >
      <div class="col-5 flex justify-content-center">
          <div style="float: left;">

              <p><strong>Nombres y Apellidos:</strong> {{
                usuario!.persona!.nombre1 }} {{
                usuario!.persona!.nombre2 }} {{
                usuario!.persona!.apellido1 }} {{
                usuario!.persona!.apellido2 }}</p>
              <p><strong>Cédula de Ciudadanía:</strong> {{ usuario!.persona!.identificacion}}</p>
              <p><strong>Correo electrónico: </strong> {{ usuario!.persona!.correo}}</p>
          </div>
      </div>
  </div>
</p-card>









    <form (ngSubmit)="guardarFichadeMatrircla()" ngNativeValidate>

      <p-card header="INFORMACIÓN LABORAL" class="m-5">

        <div class="grid p-fluid m-3">

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta1" name="pregunta1"
                  [(ngModel)]="detallefichaMatricula.pregunta1">
                <label htmlFor="username">Institución donde trabaja / Estudia:</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta2" name="pregunta2"
                [(ngModel)]="detallefichaMatricula.pregunta2">
                <label htmlFor="username">Dirección de la institución:</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta3" name="pregunta3"
                [(ngModel)]="detallefichaMatricula.pregunta3">
                <label htmlFor="username">Correo electrónico de la institución:</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta4" name="pregunta4"
                [(ngModel)]="detallefichaMatricula.pregunta4">
                <label htmlFor="username">Número telefónico de la institución:</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta5" name="pregunta5"
                [(ngModel)]="detallefichaMatricula.pregunta5">
                <label htmlFor="username">Actividad de la institución:</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <label class="p-inputgroup" for='nombre'>¿El curso es auspiciado por la empresa?:</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    [value]="'Si'"
                    [(ngModel)]="detallefichaMatricula.pregunta6">
                    <label class="form-check-label" for="inlineRadio1">Si:</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    [value]="'No'"
                    [(ngModel)]="detallefichaMatricula.pregunta6">
                    <label class="form-check-label" for="inlineRadio2">No:</label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta7" name="pregunta7"
                [(ngModel)]="detallefichaMatricula.pregunta7">
                <label htmlFor="username">Si está auspiciado, indique el nombre de contacto:</label>
              </span>
            </div>
          </div>


          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta8" name="pregunta8"
                [(ngModel)]="detallefichaMatricula.pregunta8">
                <label htmlFor="username">¿Cómo se enteró del curso?</label>
              </span>
            </div>
          </div>

          <div class="col-12 md:col-12 mt-2">
            <div class="p-inputgroup">
              <span class="p-float-label">
                <input type="text" pInputText id="pregunta9" name="pregunta9"
                [(ngModel)]="detallefichaMatricula.pregunta9">
                <label htmlFor="username">¿Qué otros cursos le gustaría seguir?</label>
              </span>
            </div>
          </div>
        </div>
      </p-card>
      <div class='form-group'>
        <div class='col-md-offset-4 col-md-3'>
          <button class='btn-lg btn-primary' type='submit'>Registrar Matricula</button>
        </div>

      </div>
    </form>


  </p-panel>
</div>
