<!-- 
<div class='container'>
  <div class='panel panel-primary dialog-panel'>
    <div class='panel-heading'>

      <p class="centrado">
        INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN
      </p>
    </div>
    <div class='panel-body'>
      <form class='form-horizontal' role='form'>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='cod_curso'>Código del curso:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='cod_curso' type='text'>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Nombre del curso:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Modalidad:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Presencial</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Virtual</label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <p class="centrado">INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</p>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Apellidos y Nombres:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>





        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='id_checkin'>Cédula de Ciudadanía:</label>
          <div class='col-md-8'>
            <div class='col-md-3'>
              <div class='form-group internal input-group'>
                <div class='col-md-13 indent-small'>
                  <div class='form-group internal'>
                    <input class='form-control' id='nombre' type='text'>
                  </div>
                </div>
              </div>
            </div>
            <label class='control-label col-md-2' for='id_checkout'>Fecha de nacimiento:</label>
            <div class='col-md-3'>
              <div class='form-group internal input-group'>
                <input class='form-control datepicker' id='id_checkout'>
                <span class='input-group-addon'>
                  <i class='glyphicon glyphicon-calendar'></i>
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Sexo:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Femenino:</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Masculino:</label>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Etnia:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <div class="form-check form-check-inline">
                  <input class="form-check-square" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Mestizo</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-square" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Indígena</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-square" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Blanco</label>
                </div>


                <div class="form-check form-check-inline">
                  <input class="form-check-square" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Afroecuatoriano</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-square" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Otros</label>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Dirección Domiciliaria:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='id_checkin'>Nro. Telefonico: Convencional:</label>
          <div class='col-md-8'>
            <div class='col-md-3'>
              <div class='form-group internal input-group'>
                <div class='col-md-13 indent-small'>
                  <div class='form-group internal'>
                    <input class='form-control' id='nombre' type='text'>
                  </div>
                </div>
              </div>
            </div>
            <label class='control-label col-md-2' for='id_checkout'>Celular:</label>
            <div class='col-md-3'>
              <div class='form-group internal input-group'>
                <div class='col-md-13 indent-small'>
                  <div class='form-group internal'>
                    <input class='form-control' id='nombre' type='text'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Correo electrónico:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>


        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Nivel de instrucción::</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Primaria:</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Secuendaria:</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Superior:</label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <p class="centrado">INFORMACIÓN LABORAL</p>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Empresa donde trabaja:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Dirección de la empresa:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Correo electrónico de la empresa: </label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Número telefónico de la empresa:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Actividad de la empresa:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>




        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>¿El curso es auspiciado por la
            empresa?:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Si:</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">No:</label>
                </div>
              </div>
            </div>
          </div>
        </div>






        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>Si está auspiciado, indique el nombre de
            contacto:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='nombre'>¿Cómo se enteró del curso?:</label>
          <div class='col-md-6'>
            <div class='form-group'>
              <div class='col-md-11'>
                <input class='form-control' id='nombre' type='text'>
              </div>
            </div>
          </div>
        </div>

        <div class='form-group'>
          <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>¿Qué otros cursos le gustaría
            seguir?</label>
          <div class='col-md-6'>
            <textarea class='form-control' id='id_comments' placeholder='Additional comments' rows='3'></textarea>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-offset-4 col-md-3'>
            <button class='btn-lg btn-primary' type='submit'>Registrar Matricula</button>
          </div>
          <div class='col-md-3'>
            <button class='btn-lg btn-danger' style='float:right' type='submit'>Cancel</button>
          </div>

        </div>


      </form>
    </div>
  </div>

</div>

 -->

 <form class=" g-3" (ngSubmit)="guardarFichadeMatrircla()">
  
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Donde trabaja</label>
    <input type="text" class="form-control" id="pregunta1" name="pregunta1" [(ngModel)]="detallefichaMatricula.pregunta1">
  </div>

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Direcion</label>
    <input type="text" class="form-control" id="pregunta2" name="pregunta2" [(ngModel)]="detallefichaMatricula.pregunta2" >
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">correo</label>
    <input type="text" class="form-control" id="pregunta3" name="pregunta3" [(ngModel)]="detallefichaMatricula.pregunta3" >
  </div>

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">numero tel</label>
    <input type="text" class="form-control" iid="pregunta4" name="pregunta4" [(ngModel)]="detallefichaMatricula.pregunta4">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Activida de la in</label>
    <input type="text" class="form-control" id="pregunta5" name="pregunta5" [(ngModel)]="detallefichaMatricula.pregunta5">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Actividad de la in</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="actividad" id="radio1" [value]="'Si'" [(ngModel)]="detallefichaMatricula.pregunta6">
        <label class="form-check-label" for="radio1">
           SI
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="actividad" id="radio2" [value]="'No'" [(ngModel)]="detallefichaMatricula.pregunta6">
        <label class="form-check-label" for="radio2">
            NO
        </label>
    </div>
</div>



  <div class="col">
    <label for="inputPassword2" class="visually-hidden">SI ESTA AUSPICIADO</label>
    <input type="text" id="pregunta7" name="pregunta7" [(ngModel)]="detallefichaMatricula.pregunta7">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">como se entero del curso</label>
    <input type="text" id="pregunta8" name="pregunta8" [(ngModel)]="detallefichaMatricula.pregunta8">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Qu otros cursos le gustario segguir</label>
    <input type="text" class="form-control" id="pregunta9" name="pregunta9" [(ngModel)]="detallefichaMatricula.pregunta9">
  </div>

  <button type=" submit">enviar</button>
</form>
