

 <form class=" g-3" (ngSubmit)="guardarFichadeMatrircla()">
  
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Donde trabaja</label>
    <input type="text" class="form-control" id="pregunta1" name="pregunta1" [(ngModel)]="detallefichaMatricula.pregunta1">
  </div>

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Direcion</label>
    <input type="text" class="form-control" id="pregunta2" name="pregunta2" [(ngModel)]="detallefichaMatricula.pregunta2" >
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">correo</label>
    <input type="text" class="form-control" id="pregunta3" name="pregunta3" [(ngModel)]="detallefichaMatricula.pregunta3" >
  </div>

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">numero tel</label>
    <input type="text" class="form-control" iid="pregunta4" name="pregunta4" [(ngModel)]="detallefichaMatricula.pregunta4">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Activida de la in</label>
    <input type="text" class="form-control" id="pregunta5" name="pregunta5" [(ngModel)]="detallefichaMatricula.pregunta5">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Actividad de la in</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="actividad" id="radio1" [value]="'Si'" [(ngModel)]="detallefichaMatricula.pregunta6">
        <label class="form-check-label" for="radio1">
           SI
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="actividad" id="radio2" [value]="'No'" [(ngModel)]="detallefichaMatricula.pregunta6">
        <label class="form-check-label" for="radio2">
            NO
        </label>
    </div>
</div>



  <div class="col">
    <label for="inputPassword2" class="visually-hidden">SI ESTA AUSPICIADO</label>
    <input type="text" id="pregunta7" name="pregunta7" [(ngModel)]="detallefichaMatricula.pregunta7">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">como se entero del curso</label>
    <input type="text" id="pregunta8" name="pregunta8" [(ngModel)]="detallefichaMatricula.pregunta8">
  </div>

  <div class="col">
    <label for="inputPassword2" class="visually-hidden">Qu otros cursos le gustario segguir</label>
    <input type="text" class="form-control" id="pregunta9" name="pregunta9" [(ngModel)]="detallefichaMatricula.pregunta9">
  </div>

  <button type=" submit">enviar</button>
</form>
