/* VALIDACIONES */

.red-asterisk::after {
  content: "*";
  color: red;
  margin-left: 5px;
}


.container {
  max-width: 900%;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.attendance-section {
  text-align: center;
  margin-bottom: 8px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.attendance-date {
  font-size: 18px;
  color: #777;
  margin-top: 10px;
}


.p-inputgroup {
  display: flex;
}

.p-calendar {
  flex: 1;
}

/* NUEVOS CAMBIOS PARA LA OTRA TABLA */

body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2 {
  font-size: 2em;
  margin-top: 1em;

}

th {
  font-size: 1.1em;
}

tr {
  font-weight: 600;
}



tr:hover {
  background-color: rgb(245, 245, 245);
}

#bntRegistrar:hover {
  background-color: rgb(21, 125, 60);
}


/*  */

/* Establecer márgenes automáticos para centrar el gráfico horizontalmente */