<div class="">


    <div class="attendance-section">
        <h2 class="section-title">
            <strong>
                {{estadoFinal === 'F'?
                'REVISIÓN DE LAS NOTAS FINALES': 'REGISTRO DE NOTAS FINALES DE LOS ESTUDIANTES'}}
            </strong>
        </h2>

    </div>


    <div style="text-align: center;" *ngIf="estadoFinal === 'F'" class="mb-3">
        <p-tag icon="pi pi-times" severity="danger"
            value="CURSO FINALIZADO, SOLO PUEDE REVISAR LAS NOTAS CONCEDIDAS A LOS ESTUDIANTES, AL IGUAL QUE IMPRIMIR CADA UNO DE LOS REPORTES.."></p-tag>

    </div>


    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-12 p-text-center mb-3">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [runOutsideAngular]="true"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
    </div>



    <div class="container ">
        <div class="card text-center mb-2 shadow-4 rounded-5">
            <p-table [value]="notasFinalesReduce" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
                [(first)]="first" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} estudiantes"
                [rowsPerPageOptions]="[5,10,15]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:35%"><strong>NOMBRES</strong></th>
                        <th style="width:15%"><strong>IDENTIFICACIÓN</strong></th>
                        <th style="width:10%"><strong>INFORME 1</strong></th>
                        <th style="width:10%"><strong>INFORME 2</strong></th>
                        <th style="width:10%"><strong>INFORME 3</strong></th>
                        <th style="width:10%"><strong>NOTA EXAMEN FINAL</strong></th>
                        <th style="width:10%"><strong>ESTADO</strong></th>
                        <th style="width:10%"><strong>OBSERVACIÓN</strong></th>
                        <th style="width:10%"><strong></strong></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>

                        <td>{{data.nombres}} </td>
                        <td>{{data.identificacion}} </td>

                        <td>{{data.informe1}}</td>
                        <td>{{data.informe2}}</td>
                        <td>{{data.informe3}}</td>
                        <td>{{data.examenFinal}}</td>
                        <td style="text-align: center;">
                            <ng-container
                                *ngIf="validarNotasFinalesView(data.informe1, data.informe2, data.informe3, data.examenFinal) >= 70">
                                <strong>{{validarNotasFinalesView(data.informe1, data.informe2, data.informe3,
                                    data.examenFinal) | number: '1.1-2'}} / 100</strong>
                                <p-tag styleClass="mr-2" icon="pi pi-check" severity="success" value="APROBADO"></p-tag>
                            </ng-container>

                            <ng-container
                                *ngIf="validarNotasFinalesView(data.informe1, data.informe2, data.informe3, data.examenFinal) > 0 && validarNotasFinalesView(data.informe1, data.informe2, data.informe3, data.examenFinal) < 70">
                                <strong>{{validarNotasFinalesView(data.informe1, data.informe2, data.informe3,
                                    data.examenFinal) | number: '1.1-2'}} / 100</strong>
                                <p-tag styleClass="mr-2" icon="pi pi-exclamation-triangle" severity="warning"
                                    value="REPROVADO"></p-tag>
                            </ng-container>

                            <ng-container
                                *ngIf="(data.informe1 === null || data.informe1 === undefined) && (data.informe2 === null || data.informe2 === undefined) && (data.informe3 === null || data.informe3 === undefined) && (data.examenFinal === null || data.examenFinal === undefined) ">
                                <p-tag styleClass="mr-2" icon="pi pi-info-circle" severity="primary"
                                    value="PENDIENTE"></p-tag>
                            </ng-container>
                        </td>

                        <td>{{data.observacion}}</td>
                        <td><button [disabled]="classCursoFinalizaEstado.estadoPublicasionCurso === 'F'" pButton
                                type="button" icon="pi pi-book" (click)="showModalNotas(data.idNota, data)"
                                class="p-button-rounded p-button-text"></button></td>

                    </tr>
                </ng-template>
            </p-table>


        </div>

        <p-button label="Generar Reporte" icon="pi pi-print" styleClass="p-button-primary  mb-2 m-2"
            style="text-align: center;" (onClick)="showModalFinalInformationCorse()"></p-button>

        <p-button
            [disabled]="classCursoFinalizaEstado.estadoPublicasionCurso === 'F' || this.classInformeFinalC.idInformeFinalCurso == null"
            label="Finalizar curso" icon="pi pi-calendar-minus" styleClass="p-button-secondary  mb-2 m-2"
            style="text-align: center;" (onClick)="vaidarNotasEstudiantesFinales()"></p-button>


        <p-button label="NOTAS FINALES" icon="pi pi-file-pdf" styleClass="p-button-danger mb-2 m-2"
            [disabled]="this.classInformeFinalC.idInformeFinalCurso == null"
            (onClick)="generarReporteAsitenciaEvaluacion()"></p-button>

        <p-button label="Reporte de Participantes" icon="pi pi-file-pdf" styleClass="p-button-danger mb-2"
            [disabled]="this.classInformeFinalC.idInformeFinalCurso == null"
            (onClick)="generarReporteParticipantes()"></p-button>
    </div>

</div>




<!-- DIALOGO DE INGRESO DE NOTAS -->
<p-dialog [(visible)]="visible" [style]="{ width: '600px' }" header="INGRESO DE NOTAS FINALES" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p style="font-size: 15px; color: red;" class=" mb-3">Los campos marcados con * son de ingreso obligatorio.
        </p>


        <div class="grid p-fluid ">
            <div class="col-12 md:col-6 ">
                <div class="field" pTooltip="La nota debe estar entre (1 - 30)" tooltipPosition="bottom">
                    <label for="name">Informe 1 <span class="red-asterisk"></span></label> (1-30)
                    <input type="text" placeholder="(1-30)" pInputText pInputText id="informe1" name="informe1"
                        [(ngModel)]="notas.informe1" (input)="validarParcialAndFinalNota($event)" maxlength="2"
                        (keydown)="validarEntrada($event)" required autofocus
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>

            </div>
            <div class="col-12 md:col-6 ">
                <div class="field" pTooltip="La nota debe estar entre (1 - 30)" tooltipPosition="bottom">
                    <label for="name">Informe 2 <span class="red-asterisk"></span></label> (1-30)
                    <input type="text" placeholder="(1-30)" pInputText id="informe2" name="informe2"
                        [(ngModel)]="notas.informe2" (input)="validarParcialAndFinalNota($event)" maxlength="2"
                        (keydown)="validarEntrada($event)" required
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>

            </div>
        </div>


        <div class="grid p-fluid ">

            <div class="col-12 md:col-6 ">

                <div class="field" pTooltip="La nota debe estar entre (1 - 15)" tooltipPosition="bottom">
                    <label for="name">Informe 3 <span class="red-asterisk"></span></label> (1-15)
                    <input type="text" placeholder="(1-15)" pInputText pInputText id="informe3" name="informe3"
                        [(ngModel)]="notas.informe3" (input)="validarParcialAndFinalNota($event)" maxlength="2"
                        (keydown)="validarEntrada($event)" required
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>

            </div>

            <div class="col-12 md:col-6 ">

                <div class="field" pTooltip="La nota debe estar entre (1 - 25)" tooltipPosition="bottom">
                    <label for="name">Examen Final <span class="red-asterisk"></span></label> (1-25)
                    <input type="text" placeholder="(1-25)" pInputText pInputText id="examenFinal" name="examenFinal"
                        [(ngModel)]="notas.examenFinal" (input)="validarParcialAndFinalNota($event)" maxlength="2"
                        required onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </div>

            </div>


        </div>

        <div class="grid p-fluid ">
            <div class="col-12 md:col-12">
                <div class="field" pTooltip="Observación para el estudiante" ltipPosition="bottom">
                    <label for="name">Observación </label>

                    <textarea placeholder="Observación para el estudiante" rows="3" cols="30" pInputTextarea
                        id="observacion" name="observacion" [autoResize]="true"
                        [(ngModel)]="notas.observacion"></textarea>

                </div>

            </div>

        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <div class="mt-2">
            <p-button pRipple [label]="'Cancelar'" icon="pi pi-times" styleClass="p-button-outlined p-button-secondary"
                (click)="cancelNotaSave()"></p-button>

            <p-button pRipple label="Guardar Notas" icon="pi pi-check-square"
                styleClass="p-button-outlined p-button-success" (click)="guardarNotaPorEstudiante()"></p-button>
        </div>

    </ng-template>
</p-dialog>


<!-- FORMULARIO FIN DE CURSO PARA GENERAR EL PDF-->
<p-dialog [(visible)]="visibleModalFormFinalCourse" [style]="{ width: '650px' }" header="Informe final del curso"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p style="font-size: 15px; color: red;" class=" mb-3">Los campos marcados con * son de ingreso obligatorio.
        </p>
        <div class="grid p-fluid ">
            <div class="col-12 md:col-12 mt-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">

                        <textarea placeholder="Observaciones del curso" rows="3" cols="30" pInputTextarea
                            id="observacionesInformeFinalCurso" name="observacionesInformeFinalCurso"
                            [(ngModel)]="classInformeFinalC.observacionesInformeFinalCurso"
                            [maxlength]="200"></textarea>

                        <label htmlFor="username">Observaciones del curso<span class="red-asterisk"></span></label>
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-12 mt-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText id="lugarInformeFinalCurso" name="lugarInformeFinalCurso"
                            [(ngModel)]="classInformeFinalC.lugarInformeFinalCurso" [maxlength]="50">
                        <label htmlFor="username">Lugar informe final curso<span class="red-asterisk"></span></label>
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-12 mt-3">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText id="nombreCantonInformeFinalCurso"
                            name="nombreCantonInformeFinalCurso"
                            [(ngModel)]="classInformeFinalC.nombreCantonInformeFinalCurso" [maxlength]="50">
                        <label htmlFor="username">Cantón informe final curso<span class="red-asterisk"></span></label>
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">

        <p-button pRipple [label]="this.classInformeFinalC.idInformeFinalCurso? 'Actualizar':'Guardar'"
            icon="pi pi-pencil" styleClass="p-button-outlined p-button-secondary"
            (onClick)="validarCamposVaciosInformeFinal()"
            [disabled]="classCursoFinalizaEstado.estadoPublicasionCurso === 'F'"></p-button>

        <p-button pRipple [disabled]="this.classInformeFinalC.idInformeFinalCurso == null" label="Informe final"
            icon="pi pi-file-pdf" styleClass="p-button-outlined p-button-danger"
            (onClick)="generarReporteInformeFinalCurso()"></p-button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>