<div class="card flex justify-content-center" id="miDiv">

    <p-panel header="DISEÑO CURRICULAR">
        <!-- <div class="col-md-12" style="text-align: right; margin: 5px;">
            <p-button label="Traer Datos" icon="pi pi-pencil" styleClass="p-button-success  mb-2"
                (onClick)="traerDatos()"></p-button>
        </div> -->
        <p-card header="Informacion General del Curso" style="margin: 5px;" *ngIf='validarIdDisenioCurricular == false'>
            <div class="grid">
                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Area:</strong> {{ silabo.curso!.especialidad?.area?.nombreArea }}</p>
                        <p><strong>Nombre del Curso:</strong> {{silabo.curso!.nombreCurso }}</p>
                        <p><strong>Fecha de Inicio</strong> {{ silabo.curso!.fechaInicioCurso }}</p>
                        <p><strong>Número de Cupos:</strong> {{silabo.curso!.numeroCuposCurso }}</p>
                        <p><strong>Docente Responsable:</strong> {{silabo.curso!.capacitador?.tipoAbreviaturaTitulo +
                            '.' +
                            silabo.curso!.capacitador?.usuario?.persona?.nombre1 }} {{
                            silabo.curso!.capacitador?.usuario?.persona?.nombre2 }} {{
                            silabo.curso!.capacitador?.usuario?.persona?.apellido1 }} {{
                            silabo.curso!.capacitador?.usuario?.persona?.apellido2 }}</p>
                    </div>
                </div>

                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Horario:</strong> {{silabo.curso!.horarioCurso?.horaInicio + ' a ' +
                            silabo.curso!.horarioCurso?.horaFin}}</p>
                        <p><strong>Código del curso: </strong> {{ silabo.curso!.especialidad?.codigoEspecialidad }}</p>
                        <p><strong>Fecha de Finalización:</strong> {{ silabo.curso!.fechaFinalizacionCurso }}</p>
                        <p><strong>Horas del curso:</strong> {{silabo.curso!.duracionCurso}}</p>
                        <p><strong>Modalidad:</strong> {{ silabo.curso!.modalidadCurso?.nombreModalidadCurso }}</p>
                    </div>
                </div>
            </div>
        </p-card>

        <p-card header="Prerrequisitos" class="m-5" *ngIf='validarIdDisenioCurricular == false'>
            <div>
                <ul *ngFor="let lista of listprerrequisitosCurso">
                    <li>{{lista.nombrePrerequisitoCurso}}</li>
                </ul>
            </div>
        </p-card>


        <p-card header="Descripción del Curso" class="m-5" *ngIf='validarIdDisenioCurricular == false'>
            <p class="m-0">
                {{ silabo.curso!.descripcionCurso }}
            </p>
        </p-card>

        <p-card header="Objetivos del Curso" class="m-5" *ngIf='validarIdDisenioCurricular == false'>
            <p class="m-0">
                {{ silabo.curso!.objetivoGeneralesCurso }}
            </p>
        </p-card>

        <p-card header="Temas Transversales" class="m-5">

            <form novalidate>
                <div class="grid p-fluid m-5">
                    <div class="col-10 md:col-10">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="icono  fas fa-pencil-alt"></i></span>
                            <textarea rows="5" cols="30" pInputTextarea id="temasTransversales"
                                name="temasTransversales" class="no-resize"
                                [(ngModel)]="disenioCurricular.temasTransversales"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <h5>Estrategias de Enseñanza</h5>
            <form novalidate>
                <div class="grid p-fluid m-5">
                    <div class="col-10 md:col-10">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-file"></i></span>
                            <textarea rows="5" cols="30" pInputTextarea id="estrategiasAprendizaje"
                                name="estrategiasAprendizaje" class="no-resize"
                                [(ngModel)]="disenioCurricular.estrategiasAprendizaje"></textarea>
                        </div>
                    </div>

                </div>

            </form>
            <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdDisenioCurricular == true'>
                <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                    (click)="actualizarDisenioCurricular()"></p-button>
            </div>
        </p-card>

        <p-card header="Mecanismos de Evaluación " class="m-5">
            <h4>Evaluación diagnóstica</h4>

            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3" *ngIf='validarIdDisenioCurricular == false'>
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaEvaluar" name="tecnicaEvaluar"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.tecnicaEvaluar"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">

                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                Formativa</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumnetoEvaluar" name="instrumnetoEvaluar"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoEvaluar"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                Formativo</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button *ngIf='validarIdDisenioCurricular == false' label="Agregar" icon="pi pi-plus"
                    styleClass="p-button-success  mb-2" (click)="almacenarListaEvaluacionD()"></p-button>
            </div>

            <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdDisenioCurricular == true'>
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="showModalCreateEvaluacionDiagnostica()"></p-button>
            </div>
            <!-- </form> -->
            <div class="card">
                <p-table [value]="listEvaluacionDiagnosticaCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>TÉCNICA A EVALUAR <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                            </th>
                            <th>INSTRUMENTO A EVALUAR <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaEvaluar }}</td>
                            <td>{{ data.instrumnetoEvaluar }}</td>
                            <td *ngIf='validarIdDisenioCurricular== false'><button pButton type="button"
                                    class="p-button-rounded p-button-danger " icon="pi pi-times"
                                    (click)="quitarElementoEvaluacionD(data.tecnicaEvaluar)"></button></td>
                            <td *ngIf='validarIdDisenioCurricular == true'>
                                <!-- <button *ngIf='data.idResultadoAprendizajeSilabo == 0' pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times" (click)="quitarElemento(data.idResultadoAprendizajeSilabo)"></button> -->
                                <button *ngIf='data.estadoEvaluacionDiagnostica == true' pButton type="button"
                                    class="p-button-rounded p-button-success" icon="pi pi-check-circle"
                                    style="margin-right: 5px;"
                                    (click)="cambiarEvaluacionDiagnosticaCurricularFalse(data.idEvaluacionDiagnosticaCurricular)"></button>
                                <button *ngIf='data.estadoEvaluacionDiagnostica == false' pButton type="button"
                                    class="p-button-rounded p-button-danger" style="margin-right: 5px;"
                                    icon="pi pi-power-off"
                                    (click)="cambiarEvaluacionDiagnosticaCurriculartrue(data.idEvaluacionDiagnosticaCurricular)"></button>
                                <button pButton type="button"
                                    (click)="showModalEditEvaluacionDiagnostica(data.idEvaluacionDiagnosticaCurricular)"
                                    class="p-button-rounded p-button-info" icon="pi pi-pencil"
                                    style="margin-right: 5px;"></button>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-dialog header="Evaluacion Diagnostica" [(visible)]="visibleFive" [modal]="true"
                [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
                <div class="col-12 md:col-12 mt-1">
                    <div class="grid p-fluid m-3">
                        <div class="col-12 md:col-12 mt-1">
                            <div class="p-inputgroup">
                                <span class="p-float-label">

                                    <input type="text" pInputText id="tecnicaEvaluar" name="tecnicaEvaluar"
                                        [(ngModel)]="evaluacionDiagnosticoCurricular.tecnicaEvaluar"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                        Formativa</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 mt-2">
                            <div class="p-inputgroup">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="instrumnetoEvaluar" name="instrumnetoEvaluar"
                                        [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoEvaluar"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                        Formativo</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin: 5px;">

                        <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                            (click)="actualizarEvaluacionDiagnostica()"></p-button>
                    </div>
                </div>
            </p-dialog>


            <br>
            <br>
            <h4> Evaluación proceso formativo</h4>
            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3" *ngIf='validarIdDisenioCurricular == false'>
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaFormativa" name="tecnicaFormativa"
                                [(ngModel)]="evaluacionFormativaCurricular.tecnicaFormativa"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                Formativa</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumnetoFormativa" name="instrumnetoFormativa"
                                [(ngModel)]="evaluacionFormativaCurricular.instrumnetoFormativa"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                Formativo</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button *ngIf='validarIdDisenioCurricular == false' label="Agregar" icon="pi pi-plus"
                    styleClass="p-button-success  mb-2" (click)="almacenarListaEvaluacionFormativa()"></p-button>
            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdDisenioCurricular == true'>
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="showModalCreateEvaluacionFormativa()"></p-button>
            </div>

            <!-- </form> -->
            <div class="card">
                <p-table [value]="listEvaluacionFormativaCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>TÉCNICA FORMATIVA <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                            </th>
                            <th>INSTRUMENTO FORMATIVO <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaFormativa }}</td>
                            <td>{{ data.instrumnetoFormativa }}</td>
                            <td *ngIf='validarIdDisenioCurricular == false'><button pButton type="button"
                                    class="p-button-rounded p-button-danger" icon="pi pi-times"
                                    (click)="quitarElementoEvaluacionFormativa(data.tecnicaFormativa)"></button></td>

                            <td *ngIf='validarIdDisenioCurricular == true'>
                                <button *ngIf='data.estadoEvaluacionFormativa == true' pButton type="button"
                                    class="p-button-rounded p-button-success" icon="pi pi-check-circle"
                                    style="margin-right: 5px;"
                                    (click)="cambiarEstadosEvaluacionFormativaFalse(data.idEvalucionFormativaCurricular)"></button>
                                <button *ngIf='data.estadoEvaluacionFormativa == false' pButton type="button"
                                    class="p-button-rounded p-button-danger" style="margin-right: 5px;"
                                    icon="pi pi-power-off"
                                    (click)="cambiarEstadosEvaluacionFormativaTrue(data.idEvalucionFormativaCurricular)"></button>
                                <button pButton type="button"
                                    (click)="showModalEditEvaluacionFormativa(data.idEvalucionFormativaCurricular)"
                                    class="p-button-rounded p-button-info" icon="pi pi-pencil"
                                    style="margin-right: 5px;"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-dialog header="Evaluacion Formativa" [(visible)]="visibleFive1" [modal]="true"
                [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
                <div class="col-12 md:col-12 mt-1">
                    <div class="grid p-fluid m-3">
                        <div class="col-12 md:col-12 mt-1">
                            <div class="p-inputgroup">
                                <span class="p-float-label">

                                    <input type="text" pInputText id="tecnicaFormativa" name="tecnicaFormativa"
                                        [(ngModel)]="evaluacionFormativaCurricular.tecnicaFormativa"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                        Formativa</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 mt-2">
                            <div class="p-inputgroup">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="instrumnetoFormativa" name="instrumnetoFormativa"
                                        [(ngModel)]="evaluacionFormativaCurricular.instrumnetoFormativa"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                        Formativo</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin: 5px;">
                        <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                            (click)="actualizarEvaluacionFormativa()"></p-button>
                    </div>
                </div>
            </p-dialog>
            <br>
            <br>
            <h4>Evaluación Final</h4>
            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3" *ngIf='validarIdDisenioCurricular == false'>
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaFormativaFinal" name="tecnicaFormativaFinal"
                                [(ngModel)]="evaluacionFinalCurricular.tecnicaFormativaFinal"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                Formativa</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumnetoFormativaFinal"
                                name="instrumnetoFormativaFinal"
                                [(ngModel)]="evaluacionFinalCurricular.instrumnetoFormativaFinal"
                                oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                Formativo</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button *ngIf='validarIdDisenioCurricular == false' label="Agregar" icon="pi pi-plus"
                    styleClass="p-button-success  mb-2" (click)="almacenarListaEvaluacionF()"></p-button>
            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdDisenioCurricular == true'>
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="showModalCreateEvaluacionFinal()"></p-button>
            </div>
            <!-- </form> -->
            <div class="card">
                <p-table [value]="listEvaluacionFinalCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>TÉCNICA FORMATIVA FINAL <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                            </th>
                            <th>INSTRUMENTO FORMATIVO FINAL <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th scope="col">ACCIÓN</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaFormativaFinal }}</td>
                            <td>{{ data.instrumnetoFormativaFinal }}</td>
                            <td *ngIf='validarIdDisenioCurricular == false'><button pButton type="button"
                                    class="p-button-rounded p-button-danger" icon="pi pi-times"
                                    (click)="quitarElementoEvaluacionF(data.tecnicaFormativaFinal)"></button></td>
                            <td *ngIf='validarIdDisenioCurricular == true'>
                                <button *ngIf='data.estadoEvaluacionFinal == true' pButton type="button"
                                    class="p-button-rounded p-button-success" icon="pi pi-check-circle"
                                    style="margin-right: 5px;"
                                    (click)="cambiarEstadosEvaluacionFinalFalse(data.idEvaluacionFinal)"></button>
                                <button *ngIf='data.estadoEvaluacionFinal == false' pButton type="button"
                                    class="p-button-rounded p-button-danger" style="margin-right: 5px;"
                                    icon="pi pi-power-off"
                                    (click)="cambiarEstadosEvaluacionFinalTrue(data.idEvaluacionFinal)"></button>
                                <button pButton type="button"
                                    (click)="showModalEditEvaluacionFinal(data.idEvaluacionFinal)"
                                    class="p-button-rounded p-button-info" icon="pi pi-pencil"
                                    style="margin-right: 5px;"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-dialog header="Evaluacion Final" [(visible)]="visibleFive2" [modal]="true"
                [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
                <div class="col-12 md:col-12 mt-1">
                    <div class="grid p-fluid m-3">
                        <div class="col-12 md:col-12 mt-1">
                            <div class="p-inputgroup">
                                <span class="p-float-label">

                                    <input type="text" pInputText id="tecnicaFormativaFinal"
                                        name="tecnicaFormativaFinal"
                                        [(ngModel)]="evaluacionFinalCurricular.tecnicaFormativaFinal"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                        Formativa</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 md:col-12 mt-2">
                            <div class="p-inputgroup">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="instrumnetoFormativaFinal"
                                        name="instrumnetoFormativaFinal"
                                        [(ngModel)]="evaluacionFinalCurricular.instrumnetoFormativaFinal"
                                        oninput="this.value = this.value.replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '')">
                                    <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                        Formativo</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin: 5px;">
                        <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                            (click)="actualizarEvaluacionFinal()"></p-button>
                    </div>
                </div>
            </p-dialog>
        </p-card>


        <p-card header="Entorno de Aprendizaje " class="m-5">

            <div class="container  select ">

                <form (ngSubmit)="guardarEntornoAprendizaje()" method="POST">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Instalaciones <h6 class="icono fas fa-duotone fa-map-marker-alt"></h6>
                                <th scope="col">Recursos <h6 class="icono fas fa-duotone fa-tools"></h6>
                                <th scope="col">Fase Teórica <h6 class="icono fas fa-duotone fa-book"></h6>
                                <th scope="col">Fase Práctica <h6 class="icono fas fa-duotone fa-hammer"></h6>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="INSTALACIÓN" rowspan="3">Aula</td>
                                <td>1.Equipos</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_1_1" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(1, 1) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_1_1" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(1, 1) }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2.Materiales, insumos y recursos didácticos</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_1_2" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(1, 2) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_1_2" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(1, 2) }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">3.Recursos didácticos y de consumo</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_1_3" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(1, 3) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_1_3" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(1, 3) }}</textarea>
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" rowspan="3" data-label="INSTALACIÓN">Taller o laboratorio</td>
                                <td>1.Máquinas, equipos y herramientas</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_2_4" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(2, 4) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_2_4" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(2, 4) }}</textarea>
                                    </textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>2.Materiales, insumos y recursos didácticos</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_2_2" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(2, 2) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_2_2" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(2, 2) }}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>3.Recursos didácticos y de consumo</td>
                                <td data-label="FASE TEÓRICA">
                                    <textarea name="faseTeorica_2_3" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFaseTeorico(2, 3) }}</textarea>
                                </td>
                                <td data-label="FASE PRÁCTICA">
                                    <textarea name="fasePractica_2_3" rows="5" cols="30"
                                        pInputTextarea>{{ obtenerNombreFasePractico(2, 3) }}</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" style="text-align: center; margin: 5px;">
                        <p-button *ngIf='validarIdDisenioCurricular == false' label="Generar Diseño Curricular"
                            icon="icono fas fa-duotone fa-save" styleClass="p-button-success  mb-2"
                            (onClick)="generarDisenioCurricular()" type="submit"></p-button>
                    </div>
                </form>
            </div>



        </p-card>



    </p-panel>
    <div class="col-md-12" style="text-align: center; margin: 5px;">
        <p-button label="Generar PDF" icon="pi pi-file-pdf" styleClass="p-button-danger  mb-2"
            [disabled]="!disenioCurricular.idDisenioCurricular" (onClick)="getReportDisenioCurricular()"></p-button>
    </div>

</div>