<!-- Implementación de nueva tabla------------------------------------------------------------------------------------- -->

<div class="container mt-5"></div>
<div class="card">
    <p-table #dt [value]="listCursos" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,50 ]" [loading]="loading"
        responsiveLayout="scroll" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} cursos de capacitación continua."
        [filterDelay]="0"
        [globalFilterFields]="['nameCourse', 'fechaInicio', 'fechaFin', 'statusApproved', 'username','email','nameProgram', 'docente','statusFinalized']">

        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"
                    pTooltip="Limpiar todos los filtros de la tabla." tooltipPosition="bottom"></button>

                <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2"
                    (ngModelChange)="getPaginatorValidateCoursesCapacitacion($event)" class="mx-2"
                    [pTooltip]="'Numero de cursos solicitados: '+(rows2)" tooltipPosition="bottom"></p-dropdown>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..." pTooltip="Buscar por usuario, nombre curso, capacitador y programa"
                        tooltipPosition="bottom" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nameProgram">
                    <div class="flex justify-content-between align-items-center">
                        <strong>PROGRAMA</strong>
                        <p-sortIcon field="nameProgram"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="username">
                    <div class="flex justify-content-between align-items-center">
                        <strong>CAPACITADOR</strong>
                        <p-sortIcon field="username"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="nameCourse">
                    <div class="flex justify-content-between align-items-center">
                        <strong>NOMBRE CURSO</strong>
                        <p-sortIcon field="nameCourse"></p-sortIcon>
                        <p-columnFilter type="text" field="nameCourse" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="fechaInicio">
                    <div class="flex justify-content-between align-items-center">
                        <strong>INICIO</strong>
                        <p-sortIcon field="fechaInicio"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaInicio" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="fechaFin">
                    <div class="flex justify-content-between align-items-center">
                        <strong>FIN</strong>
                        <p-sortIcon field="fechaFin"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaFin" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="country.name">
                    <div class="flex justify-content-between align-items-center">
                        <strong>DOCUMENTOS</strong>
                        <p-sortIcon field="country.name"></p-sortIcon>
                        <p-columnFilter type="text" field="country.name" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="statusApproved">
                    <div class="flex justify-content-between align-items-center">
                        <strong>ESTADO</strong>
                        <p-sortIcon field="statusApproved"></p-sortIcon>
                        <p-columnFilter type="text" field="statusApproved" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="statusFinalized">
                    <div class="flex justify-content-between align-items-center">
                        <strong>FINALIZADO</strong>
                        <p-sortIcon field="statusFinalized"></p-sortIcon>

                        <p-columnFilter type="boolean" field="statusFinalized" display="menu"></p-columnFilter>

                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr class="p-selectable-row">

                <td>
                    {{curso.nameProgram}}
                </td>

                <td>
                    <img [src]="
                    curso.urlPhoto? getImage(curso.urlPhoto): '../../../../assets/img/istap.png'" width="32"
                        class="rounded-circle">
                    <span class="image-text"> {{curso.username}}</span>
                </td>

                <td>
                    {{curso.nameCourse}}
                </td>

                <td>
                    {{curso.fechaInicio | date: 'MM/dd/yyyy'}}
                </td>

                <td>
                    {{curso.fechaFin | date: 'MM/dd/yyyy'}}
                </td>

                <td style="text-align: center"
                    pTooltip="En este apartado usted encontrara los documentos NECESIDAD, SILABO Y DISEÑO CURRICULAR."
                    tooltipPosition="bottom">

                    <button class="custom-button" (click)="validarHojaDeVida(curso, 2)">
                        <i class="pi pi-file" [ngClass]="{'pi-button': true}"></i>
                    </button>

                </td>

                <td class="text-center"
                    [pTooltip]="'El curso esta: '+(curso.statusApproved === 'A'? 'APROBADO': curso.statusApproved === 'R'? 'RECHAZADO': 'PENDIENTE')"
                    tooltipPosition="bottom">
                    <p-message
                        [severity]="curso.statusApproved === 'A'? 'success': curso.statusApproved === 'R'? 'error': 'info'"
                        [text]="curso.statusApproved === 'A'? 'APROBADO': curso.statusApproved === 'R'? 'RECHAZADO': 'PENDIENTE'"
                        styleClass="mr-2"></p-message>
                </td>

                <td class="text-center">

                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': curso.statusFinalized , 'false-icon pi-times-circle': !curso.statusFinalized}"
                        [ngStyle]="{'color': curso.statusFinalized ? 'green' : 'red'}"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Resultados no encontrados.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- IMPLEMENTACION PARA QUE SEA VISIBLE EL CURSO -->

<!-- IMPLEMENTACION DE HOJA DE VIDA PARA VISUALIZAR -->

<p-dialog [header]="classCursoValidanew.docente!" [(visible)]="visibleCursoDeCapacitacion" [modal]="true"
    [style]="{ width: '60vw', height: '250' }" [draggable]="false" [resizable]="false">
    <div class="grid p-fluid m-1">

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'NECESIDAD'" icon="pi pi-save"
                        styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(2, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'SILABO'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(1, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Diseño currcular'" icon="pi pi-save"
                        styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(3, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

    </div>


    <div class="container mt-1" *ngIf="classCursoValidanew!.statusApproved === 'A'">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Este curso ya ha sido aprobado</h4>
            <p>Este curso ha sido aprobado y no se puede editar.</p>

        </div>
    </div>

    <div class="container mt-1" *ngIf="classCursoValidanew!.statusApproved === 'R'">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Este curso no fue aprobado con anterioridad</h4>
            <p>Revise los contenidos y la información respectiva para su posterior aceptación.</p>

        </div>
    </div>

    <div class="mx-2" *ngIf="pdfSrc">
        <embed style="border-radius: 10px; " [src]="pdfSrc" type="application/pdf" width="100%" height="500px" />
    </div>

    <div class="grid p-fluid m-2">
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;"
                    pTooltip="Le recomendamos verificar todos los documentos para que pueda aceptar el curso."
                    tooltipPosition="bottom">
                    <p-button type="ngSubmit" [label]="'Aprobar'" icon="pi pi-check"
                        [styleClass]="classCursoValidanew!.statusApproved! === 'A' ? 'p-button-success mb-2' : 'p-button-primary mb-2'"
                        [disabled]="classCursoValidanew!.statusApproved! == 'A'"
                        (onClick)="UpdateValidacionCurso(1)"></p-button>

                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;"
                    pTooltip="Le recomendamos verificar, para el rechazo del curso." tooltipPosition="bottom">
                    <p-button type="ngSubmit" [label]="'Rechazar'" icon="pi pi-times" styleClass="p-button-warning mb-2"
                        (onClick)="UpdateValidacionCurso(2)"
                        [disabled]="classCursoValidanew!.statusApproved! == 'A'"></p-button>

                </div>
            </div>
        </div>
    </div>

</p-dialog>


<p-dialog [(visible)]="sendEmailVerification" [style]="{ width: '500px' }" header="CURSO - DOCENTE" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="data mt-1">
            <textarea rows="1" cols="30" pInputTextarea [(ngModel)]="emailCourseApproved.receptor" id="receptor"
                name="receptor" [disabled]="true" placeholder="Destinatario" pTooltip="Destinatario"
                tooltipPosition="bottom"></textarea>

            <textarea rows="2" cols="30" pInputTextarea [(ngModel)]="emailCourseApproved.topic" id="topic" name="topic"
                placeholder="Asunto" pTooltip="Asunto" tooltipPosition="bottom"></textarea>

            <textarea rows="7" cols="30" pInputTextarea [(ngModel)]="emailCourseApproved.sumary" id="sumary"
                name="sumary" placeholder="Resumen" pTooltip="Resumen" tooltipPosition="bottom"></textarea>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
            pTooltip="Cancelar validación." tooltipPosition="bottom" (onClick)="visibleEmailDataUpdate()"></p-button>

        <p-button label="Aceptar" icon="pi pi-check" styleClass="p-button-outlined"
            (onClick)="principalAcceptDataAndUpdate()" pTooltip="Finalizar validación."
            tooltipPosition="bottom"></p-button>

    </ng-template>
</p-dialog>