<!-- <div class="con" *ngFor="let i of listP">{{i}}</div> -->


<!-- Implementacion de nueva tabla------------------------------------------------------------------------------------- -->


<div class="container mt-5"></div>
<div class="card">
    <p-table #dt [value]="listCursos" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,50 ]" [loading]="loading"
        responsiveLayout="scroll" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} cursos de capacitación continua."
        [filterDelay]="0"
        [globalFilterFields]="['fechaFinalizacionCurso', 'fechaInicioCurso', 'programas.periodoPrograma.nombrePeriodoPrograma', 'programas.descripcionPrograma', 'programas.nombrePrograma','nombreCurso','capacitador.usuario.persona.nombre1', 'capacitador.usuario.persona.nombre2', 'capacitador.usuario.persona.apellido1', 'capacitador.usuario.persona.apellido2','capacitador.usuario.username','status']">

        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>

                <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows2"
                    (ngModelChange)="getPaginatorValidateCoursesCapacitacion($event)" class="mx-2"></p-dropdown>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..." />

                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>


                <th pSortableColumn="programas.nombrePrograma">
                    <div class="flex justify-content-between align-items-center">
                        <strong>PROGRAMA</strong>
                        <p-sortIcon field="programas.nombrePrograma"></p-sortIcon>

                    </div>
                </th>

                <th pSortableColumn="capacitador.usuario.username">
                    <div class="flex justify-content-between align-items-center">
                        <strong>CAPACITADOR</strong>

                        <p-sortIcon field="capacitador.usuario.username"></p-sortIcon>

                    </div>
                </th>

                <th pSortableColumn="nombreCurso">
                    <div class="flex justify-content-between align-items-center">
                        <strong>NOMBRE CURSO</strong>
                        <p-sortIcon field="nombreCurso"></p-sortIcon>
                        <p-columnFilter type="text" field="nombreCurso" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>


                <th pSortableColumn="fechaInicioCurso">
                    <div class="flex justify-content-between align-items-center">
                        <strong>INICIO</strong>
                        <p-sortIcon field="fechaInicioCurso"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaInicioCurso" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>


                <th pSortableColumn="fechaFinalizacionCurso">
                    <div class="flex justify-content-between align-items-center">
                        <strong>FIN</strong>
                        <p-sortIcon field="fechaFinalizacionCurso"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaFinalizacionCurso" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="country.name">
                    <div class="flex justify-content-between align-items-center">
                        <strong>DOCUMENTOS</strong>
                        <p-sortIcon field="country.name"></p-sortIcon>
                        <p-columnFilter type="text" field="country.name" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>


                <th pSortableColumn="activity">
                    <div class="flex justify-content-between align-items-center">
                        <strong>ESTADO FINALIZACIÓN</strong>
                        <p-sortIcon field="activity"></p-sortIcon>

                        <p-columnFilter type="boolean" field="estadoCurso" display="menu"></p-columnFilter>

                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr class="p-selectable-row">

                <td>
                    <span class="p-column-title">Status</span>
                    {{curso.programas.nombrePrograma}}
                </td>


                <td>
                    <img [src]="
                    curso.capacitador.usuario.fotoPerfil? getImage(curso.capacitador.usuario.fotoPerfil): '../../../../assets/img/istap.png'"
                        width="32" class="rounded-circle">
                    <span class="image-text"> {{curso.capacitador.usuario.username}}</span>
                </td>

                <td>
                    {{curso.nombreCurso}}
                </td>
                <td>

                    {{curso.fechaInicioCurso | date: 'MM/dd/yyyy'}}
                </td>
                <td>
                    {{curso.fechaFinalizacionCurso | date: 'MM/dd/yyyy'}}
                </td>
                <td style="text-align: center">

                    <button class="custom-button" (click)="validarHojaDeVida(curso, 2)">
                        <i class="pi pi-file" [ngClass]="{'pi-button': true}"></i>
                    </button>

                </td>
                <td class="text-center">
                    <span class="p-column-title">Activity</span>

                    <!-- <i class="pi" [ngClass]="{'true-icon pi-check-circle': curso.estadoCurso, 'false-icon pi-times-circle': !curso.estadoCurso}"></i> -->
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': curso.estadoCurso , 'false-icon pi-times-circle': !curso.estadoCurso}"
                        [ngStyle]="{'color': curso.estadoCurso ? 'green' : 'red'}"></i>


                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Resultados no encontrados.</td>
            </tr>
        </ng-template>
    </p-table>
</div>



<!-- IMPLEMENTACION PARA QUE SEA VISIBLE EL CURSO -->

<!-- IMPLEMENTACION DE HOJA DE VIDA PARA VISUALIZAR -->
<p-dialog
    [header]="classCursoValidanew!.nombreCurso! + ' - ' + classCursoValidanew?.capacitador?.tipoAbreviaturaTitulo +' '+ classCursoValidanew?.capacitador?.usuario?.persona?.nombre1 +' '+ classCursoValidanew?.capacitador?.usuario?.persona?.apellido1"
    [(visible)]="visibleCursoDeCapacitacion" [modal]="true" [style]="{ width: '60vw', height: '250' }"
    [draggable]="false" [resizable]="false">
    <div class="grid p-fluid m-1">

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'NECESIDAD'" icon="pi pi-save"
                        styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(2, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'SILABO'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(1, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Diseño currcular'" icon="pi pi-save"
                        styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(3, classCursoValidanew.idCurso!)"></p-button>

                </div>
            </div>
        </div>

    </div>


    <div class="container mt-1" *ngIf="classCursoValidanew!.estadoAprovacionCurso === 'A'">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Este curso ya ha sido aprobado</h4>
            <p>Este curso ha sido aprobado y no se puede editar.</p>
            <!-- <hr> -->
            <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
        </div>
    </div>

    <div class="container mt-1" *ngIf="classCursoValidanew!.estadoAprovacionCurso === 'R'">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Este curso no fue aprovado con anterioridad</h4>
            <p>Revise los contenidos y la información respectiva para su posterior aceptación.</p>
            <!-- <hr> -->
            <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
        </div>
    </div>

    <div class="mx-2" *ngIf="pdfSrc">
        <embed style="border-radius: 10px; " [src]="pdfSrc" type="application/pdf" width="100%" height="500px" />
    </div>

    <div class="grid p-fluid m-2">
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Aprobar'" icon="pi pi-check"
                        [styleClass]="classCursoValidanew!.estadoAprovacionCurso! === 'A' ? 'p-button-success mb-2' : 'p-button-primary mb-2'"
                        [disabled]="classCursoValidanew!.estadoAprovacionCurso! == 'A'"
                        (onClick)="UpdateValidacionCurso(1)"></p-button>

                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Rechazar'" icon="pi pi-times" styleClass="p-button-warning mb-2"
                        (onClick)="UpdateValidacionCurso(2)"
                        [disabled]="classCursoValidanew!.estadoAprovacionCurso! == 'A'"></p-button>

                </div>
            </div>
        </div>
    </div>

</p-dialog>


<p-dialog [(visible)]="sendEmailVerification" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        hola

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>