<!-- <div class="con" *ngFor="let i of listP">{{i}}</div> -->


<!-- Implementacion de nueva tabla------------------------------------------------------------------------------------- -->

<!-- <p-table #dt [value]="listP" [(selection)]="selectedCustomers" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" -->

<div class="container mt-5"></div>
<div class="card">
    <p-table #dt [value]="listCursos" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['nombreCurso','country.name','representative.name','status']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                List of Customers
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Global Search" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="caption">
            <div class="flex">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>

                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <!-- <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" /> -->
                    <!-- (input)="dt.filterGlobal($any($event.target).value, 'contains')" -->
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />

                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- <th pSortableColumn="programas.nombrePrograma">
                    <div class="flex justify-content-between align-items-center">
                        Periodo
                        <p-sortIcon field="programas.nombrePrograma"></p-sortIcon>
                        <p-columnFilter field="programas" matchMode="equals" display="menu" class="ml-auto">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="listaProgramas"
                                    (onChange)="filter($event.value)" optionLabel="nombrePrograma" placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span class="ml-1">{{option.nombrePrograma}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th> -->

                <th pSortableColumn="programas.nombrePrograma">
                    <div class="flex justify-content-between align-items-center">
                        Capacitador
                        <p-sortIcon field="programas.nombrePrograma"></p-sortIcon>
                        <p-columnFilter field="nombrePrograma" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Agent Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="listaProgramas" placeholder="Any"
                                    (onChange)="filter($event.value)" optionLabel="nombrePrograma" >
                                    <!-- <p-multiSelect placeholder="Any" (onChange)="filter($event.value)" optionLabel="name"> -->

                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                           
                                            <span class="ml-1">{{option.nombrePrograma}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="capacitador.usuario.username">
                    <div class="flex justify-content-between align-items-center">
                        Capacitador
                        <p-sortIcon field="capacitador.usuario.username"></p-sortIcon>
                        <p-columnFilter field="capacitador.usuario" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Agent Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="listUsuario" placeholder="Any"
                                    (onChange)="filter($event.value)" optionLabel="username">
                                    <!-- <p-multiSelect placeholder="Any" (onChange)="filter($event.value)" optionLabel="name"> -->

                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <img [alt]="option.label"
                                                src="assets/showcase/images/demo/avatar/{{option.image}}" width="32"
                                                style="vertical-align: middle" />
                                            <span class="ml-1">{{option.username}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="nombreCurso">
                    <div class="flex justify-content-between align-items-center">
                        Nombre curso
                        <p-sortIcon field="nombreCurso"></p-sortIcon>
                        <p-columnFilter type="text" field="nombreCurso" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <!-- <th pSortableColumn="fechaInicioCurso">
                    <div class="flex justify-content-between align-items-center">
                        Inicio
                        <p-sortIcon field="fechaInicioCurso"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaInicioCurso" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th> -->

                <th pSortableColumn="fechaInicioCurso">
                    <div class="flex justify-content-between align-items-center">
                        Inicio
                        <p-sortIcon field="fechaInicioCurso"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaInicioCurso" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>


                <th pSortableColumn="fechaFinalizacionCurso">
                    <div class="flex justify-content-between align-items-center">
                        Fin
                        <p-sortIcon field="fechaFinalizacionCurso"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaFinalizacionCurso" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <th pSortableColumn="country.name">
                    <div class="flex justify-content-between align-items-center">
                        Curso
                        <p-sortIcon field="country.name"></p-sortIcon>
                        <p-columnFilter type="text" field="country.name" display="menu"
                            class="ml-auto"></p-columnFilter>
                    </div>
                </th>

                <!-- <th pSortableColumn="activity">
                    <div class="flex justify-content-between align-items-center">
                        Activity
                        <p-sortIcon field="activity"></p-sortIcon>
                        <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false" class="ml-auto">
                            <ng-template pTemplate="filter" let-filter="filterCallback">
                                <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)"
                                    styleClass="m-3"></p-slider>
                                <div class="flex align-items-center justify-content-between px-2">
                                    <span>{{activityValues[0]}}</span>
                                    <span>{{activityValues[1]}}</span>
                                </div>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th> -->

                <th pSortableColumn="activity">
                    <div class="flex justify-content-between align-items-center">
                        Estado
                        <p-sortIcon field="activity"></p-sortIcon>

                        <p-columnFilter type="boolean" field="estadoCurso" display="menu"></p-columnFilter>

                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="curso"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">Status</span>
                    {{curso.programas.nombrePrograma}}
                    <!-- <span [class]="'customer-badge status-' + curso.programas.nombrePrograma">{{curso.programas.nombrePrograma}}</span> -->
                </td>


                <td>
                    <span class="p-column-title">Representative</span>
                    <!-- style="vertical-align: midle rounded-circle" -->
                    <img [alt]="" [src]="'data:image/jpeg;base64,' + curso.fotoCurso" width="32" class="rounded-circle">

                    <!-- <img [alt]="customer.representative.name" src="assets/showcase/images/demo/avatar/{{customer.representative.image}}" width="32" style="vertical-align: middle" /> -->
                    <span class="image-text"> {{curso.capacitador.usuario.username}}</span>
                </td>

                <td>
                    <span class="p-column-title">Name</span>
                    {{curso.nombreCurso}}
                </td>
                <td>
                    <span class="p-column-title">Date</span>
                    <!-- {{curso.fechaInicioCurso}} -->
                    {{curso.fechaInicioCurso | date: 'MM/dd/yyyy'}}
                </td>
                <td>
                    {{curso.fechaFinalizacionCurso | date: 'MM/dd/yyyy'}}
                    <!-- {{customer.balance | currency:'USD':'symbol'}} -->
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Country</span>

                    <!-- <button pButton type="button" class="p-button-secondary" icon="pi pi-file"
                        (click)="validarHojaDeVida(curso)"></button> -->

                    <!-- <i class="pi pi-file" 
                        [ngStyle]="{'color': curso.estadoAprovacionCurso ? 'black' : 'red'}"></i> -->
                    <!-- <i class="pi pi-file" [ngClass]="{'pi-button': true}"
                        [ngStyle]="{'color': curso.estadoAprovacionCurso ? 'black' : 'red'}"
                        (click)="validarHojaDeVida(curso)">
                    </i> -->

                    <button class="custom-button" (click)="validarHojaDeVida(curso, 2)">
                        <i class="pi pi-file" [ngClass]="{'pi-button': true}"></i>
                      </button>
                      


                </td>
                <td class="text-center">
                    <span class="p-column-title">Activity</span>

                    <!-- <i class="pi" [ngClass]="{'true-icon pi-check-circle': curso.estadoCurso, 'false-icon pi-times-circle': !curso.estadoCurso}"></i> -->
                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': curso.estadoCurso , 'false-icon pi-times-circle': !curso.estadoCurso}"
                        [ngStyle]="{'color': curso.estadoCurso ? 'green' : 'red'}"></i>

                    <!-- <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar> -->


                    <!-- <i class="pi" [ngClass]="{
                        'true-icon pi-check-circle': curso.estadoCurso === 'aprobado',
                        'false-icon pi-times-circle': curso.estadoCurso === 'reprobado',
                        'unknown-icon pi-question-circle': curso.estadoCurso === 'pendiente'
                      }" [ngStyle]="{
                        'color': curso.estadoCurso === 'aprobado' ? 'green' : (curso.estadoCurso === 'reprobado' ? 'red' : 'grey')
                      }">
                    </i> -->

                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>








<!-- IMPLEMENTACION PARA QUE SEA VISIBLE EL CURSO -->

<!-- IMPLEMENTACION DE HOJA DE VIDA PARA VISUALIZAR -->
<p-dialog [header]="classCursoValidanew!.nombreCurso! + ' - ' + classCursoValidanew?.capacitador?.tipoAbreviaturaTitulo +' '+ classCursoValidanew?.capacitador?.usuario?.persona?.nombre1 +' '+ classCursoValidanew?.capacitador?.usuario?.persona?.apellido1" [(visible)]="visibleCursoDeCapacitacion" [modal]="true"
    [style]="{ width: '60vw', height: '250' }" [draggable]="false" [resizable]="false">
    <div class="grid p-fluid m-2">

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'NECESIDAD'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="obtenerReportesValidacion(2)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'SILABO'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                    (onClick)="obtenerReportesValidacion(1)"></p-button>

                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 ">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Aceptar'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        ></p-button>

                </div>
            </div>
        </div>

 




    </div>
    

    <!-- <div class="mx-2" *ngIf="fileUrl">
        <embed style="border-radius: 10px; " [src]="fileUrl" type="application/pdf" width="100%" height="500px" />
    </div> -->

    <div class="mx-2" *ngIf="pdfSrc">
        <embed style="border-radius: 10px; " [src]="pdfSrc" type="application/pdf" width="100%" height="500px" />
    </div>

<!-- 
    <div class="valida">
        <div *ngIf="classHojaVidaDocenteCapacitador.estadoAprobacion === 'A'">
            <p>El valor de idpersona es: {{ this.classHojaVidaDocenteCapacitador }}</p>
        </div>

        <div *ngIf="classHojaVidaDocenteCapacitador.estadoAprobacion === 'P'">
            <p>Esta pendiente</p>
        </div>

        <div *ngIf="classHojaVidaDocenteCapacitador.estadoAprobacion === 'R'">
            <p>Recahzado</p>
        </div>

        <div *ngIf="!classHojaVidaDocenteCapacitador.estadoAprobacion">
            <p>NO hay hoja de vida</p>
        </div>

    </div> -->

    <div class="grid p-fluid m-2">
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Aceptar'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="UpdateValidacionCurso(1)"></p-button>

                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 mt-2">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Rechazar'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="UpdateValidacionCurso(2)"></p-button>

                </div>
            </div>
        </div>
    </div>

</p-dialog>