

<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <p><i class="fa fa-map-marker"></i> ChilcaTotora / Tarqui - Cuenca</p>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="#">+593 990093849</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                                href="#">jonathangallegos140gmail.com</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container custom-container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a routerLink="/home">
                   
                        <img src="https://i.ibb.co/QDy827D/ak-logo.png">
                        <!-- <img src="../../../assets/img/fcp.png"> -->
                    </a>
                </div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                    <li class=''><a href='#'>Home</a></li>
                    <li><a href='#'>Services</a></li>
                    <li><a href='#'>Reviews</a></li>

                    <li><a href='/consultas/certificados/aprovados/cursos/capactacionContinua'>Certificados</a></li>

                    <li><button class="login-btn" routerLink="/login">
                            <i class="fas fa-sign-in-alt"></i>
                            Iniciar sesión
                        </button>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>