<!-- 

<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 right_info">
                    <p><i class="fa fa-map-marker"></i> Octavio Chacón Moscoso 1-98</p>
                </div>
                <div class="col-md-7 col-sm-12 left_info">
                    <ul>
                        <li><i class="fa fa-mobile-alt"></i><a href="#">+593 995363076</a></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                                href="#">info@tecazuay.edu.ec</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container custom-container">
            <nav id='cssmenu'>
                <div class="logo">
                    <a routerLink="/welcome">
                   
                        <img src="https://i.ibb.co/QDy827D/ak-logo.png">
                    </a>
                </div>
                <div id="head-mobile"></div>
                <div class="button"></div>
                <ul>
                    <li class=''><a href='#'>Home</a></li>
                    <li><a routerLink="/cominidad">Comunidad</a></li>

                    <li><a href='/consultas/certificados/aprovados/cursos/capactacionContinua'>Certificados</a></li>

                    <li><button class="login-btn" routerLink="/login">
                            <i class="fas fa-sign-in-alt"></i>
                            Iniciar sesión
                        </button>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header> -->

<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" routerLink="/welcome">
        <i class='bx bxs-smile icon'></i><strong>CCotinuas</strong> 
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active" >
                <a class="nav-link" routerLink='#'><i class="fa-solid fa-house-chimney-window" style="color: #3B82F6;"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/cominidad" ><i class="fa-solid fa-school-flag" style="color: #3B82F6;"></i>Comunidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/consultas/certificados/aprovados/cursos/capactacionContinua'><i class="fa-solid fa-certificate" style="color: #3B82F6;"></i>Certificados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fa-solid fa-door-open" style="color: #3B82F6;"></i>Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>