<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" routerLink="/welcome">

        <i class='bx bxs-smile icon'></i><strong>CCotinuas</strong>
    </a>
    <button style="border: none;" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item active">
                <a class="nav-link" routerLink='#'><i class="fa-solid fa-house-chimney-window"
                        style="color: #3B82F6;"></i>Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cominidad"><i class="fa-solid fa-school-flag"
                        style="color: #3B82F6;"></i>Comunidad</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink='/cards/course'><i class="fa-solid fa-book"
                        style="color: #3B82F6;"></i>Ver Cursos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='/steps/apply/course'><i class="fa-solid fa-list"
                        style="color: #3B82F6;"></i>Guía</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fa-solid fa-door-open"
                        style="color: #3B82F6;"></i>Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>



<!-- <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Address Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
            </li>
        </ul>
    </div>
</nav> -->