<!-- 



<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Mision/Vision</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">"Transformando el aprendizaje en oportunidades de crecimiento profesional"</div>

    <div class="container ">
    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-5xl text-primary font-bold mb-3">Mision</div>
                   
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                 
                  
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                          
                            <span class="text-900">Ofrecer una amplia variedad de cursos de capacitación diseñados para satisfacer las necesidades y objetivos de aprendizaje de nuestros estudiantes, con el fin de mejorar sus habilidades y conocimientos, 
                                y contribuir al éxito de sus carreras profesionales y de sus empresas.</span>
                        </li>
                      
                        
                    </ul>
                   
                </div>
            </div>
        </div>

    <div class="col-12 lg:col-4">
        <div class="p-3 h-full">
            <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                <div class="text-5xl text-primary font-bold mb-3">Vision</div>
               
                <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                <ul class="list-none p-0 m-0 flex-grow-1">
                    <li class="flex align-items-center mb-3">
                       
                        <span class="text-900">Ser una plataforma líder en el mercado de cursos de capacitación, reconocida por nuestra calidad y variedad de cursos, y por ofrecer una experiencia de aprendizaje personalizada y accesible para nuestros estudiantes. Aspiramos a ser un recurso valioso y confiable para aquellos que buscan mejorar sus habilidades y conocimientos en una amplia variedad de áreas, 
                            desde liderazgo y gestión hasta tecnología y habilidades de comunicación.</span>
                    </li>
                   
                 
                </ul>
               
            </div>
        </div>
    </div>

   
</div>
</div>
</div>
         -->


<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Sistema De Capacitación Continua</span>
            <div class="text-4xl text-primary font-bold mb-3">"Desarrollando el potencial de los estudiantes a través de
                la capacitación continua"</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Nuestro sistema de capacitación continua está diseñado para
                ofrecer a los estudiantes una experiencia de aprendizaje personalizada y adaptable, que les permite
                aprender a su propio ritmo y según sus necesidades específicas. Contamos con una amplia variedad de
                cursos.</p>

            <button pButton pRipple label="Comenzar" type="button" class="mr-3 p-button-raised" 
            routerLink="/login"> </button>

            <button pButton pRipple label="Comunidad" type="button" class="p-button-outlined"
                routerLink="/cominidad"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://fundaluz21.org/wp-content/uploads/2020/06/01.jpg"
            alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>




<div class=" px-4 py-4 md:px-6 lg:px-8">
 <style>
        .h {
            transition: all 0.3s ease-out;
        }


        .h:hover {
            transform: scale(1.01);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            background-color: #ebeaea;
        }
    </style>
    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-8 p-3 h-full flex h flex-column " style="border-radius: 6px">
                
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Misión</span>
              
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Proporcionar una capacitación continua de calidad que promueva el aprendizaje y desarrollo profesional de los estudiantes y profesionales.</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Impulsar la actualización constante de conocimientos y habilidades en diferentes áreas de estudio.</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Fomentar la formación integral de los participantes, promoviendo valores éticos y de responsabilidad social.</span>
                        </li>
                    </ul>
     
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-8 p-3 h-full h flex flex-column " style="border-radius: 6px">
           
                 
                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Visión</span>
         
                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Ser reconocido como un referente en la formación continua, brindando programas de capacitación de excelencia que respondan a las necesidades del entorno laboral y social.</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Ser un aliado estratégico para empresas e instituciones en la formación y desarrollo de su talento humano.</span>
                        </li>
                
                    </ul>
               
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="p-3 h-full">
                <div class="shadow-8 p-3 flex flex-column h" style="border-radius: 6px">


                    <div class="flex align-items-center">
                        <span class="font-bold text-2xl text-900">Objetivos</span>

                    </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Ofrecer programas de capacitación continua en diversas áreas académicas y profesionales, que se adapten a las necesidades y demandas del mercado laboral.</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Promover la participación activa de estudiantes y profesionales en actividades de formación continua, fomentando el aprendizaje colaborativo y la actualización constante.</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check-circle text-green-500 mr-2"></i>
                            <span class="text-900">Evaluar y mejorar continuamente la calidad de los programas de capacitación, asegurando la pertinencia de los contenidos, la eficacia de las metodologías de enseñanza y el impacto en los participantes.</span>
                        </li>
              
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>




