/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  max-width: 600px;
}


.personal-image {
  text-align: center;
  margin-top: 10px;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 250px;
  height: 170px;
}

.personal-avatar {
  cursor: pointer;
  width: 250px;
  height: 170px;
  box-sizing: border-box;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
  margin-top: 45px;
  width: 50px;
  height: 50px;
} */




.container {
  display: flex;
  max-width: 80%; 
  max-height: 80%;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
 margin-top: 5px;
  max-width: 80%;

  
}

.container .content {
  max-width: 600px;
  /* ajusta el ancho máximo según tus necesidades */
}


.personal-image {
  text-align: center;
  margin-top: 10px;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 250px;
  height: 170px;
}

.personal-avatar {
  cursor: pointer;
  width: 250px;
  height: 170px;
  box-sizing: border-box;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
  margin-top: 45px;
  width: 50px;
  height: 50px;
}








@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Agregamos la clase para la animación */
.animated-element {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


.animated-text {
  animation: slide-left 2s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.card {
  border: 6px solid #000; /* Establece un borde sólido de 1 píxel */
  border-radius: 10px;
  animation: cambia-color 4s infinite; /* Agrega una animación de cambio de color */
  
}

@keyframes cambia-color {
  0% {
    border-color: rgb(183, 218, 245); /* Establece el color del borde al inicio de la animación (azul) */
  }
  50% {
    border-color: rgb(180, 235, 223); /* Establece el color del borde a la mitad de la animación (negro) */
  }
  100% {
    border-color: rgb(176, 219, 242); /* Establece el color del borde al final de la animación (azul) */
  }
}