<!DOCTYPE html>
<head>
  <link href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
  <link href='https://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css' rel='stylesheet' type='text/css'>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>
  <script src='https://davidstutz.github.io/bootstrap-multiselect/js/bootstrap-multiselect.js' type='text/javascript'></script>
</head>
<body>
  <div class='container'>
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
        <h5>REGISTRAME</h5>
      </div>
<br>
      

      <div class='panel-body'>
        <form class='form-horizontal' role='form'>
          <div class='form-group'>

            <label class='control-label col-md-2 col-md-offset-2' for='id_accomodation'>Cedula/Pasaporte</label>
            <div class='col-md-4'>
              <input class='form-control' id='id_first_name' placeholder='Cedula o Pasaporte' type='text'> 
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Nombres</label>
            <div class='col-md-8'>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='id_first_name' placeholder='Primer nombre' type='text'>
                </div>
              </div>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='id_last_name' placeholder='Segundo nombre' type='text'>
                </div>
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_title'>Apellidos</label>
            <div class='col-md-8'>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='id_first_name' placeholder='Primer apellido' type='text'>
                </div>
              </div>
              <div class='col-md-3 indent-small'>
                <div class='form-group internal'>
                  <input class='form-control' id='id_last_name' placeholder='Segundo apellido' type='text'>
                </div>
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_accomodation'>Fecha de nacimiento</label>
            <div class='col-md-3'>
              <input class='form-control' id='id_first_name' placeholder='DD/MM/YYYY' type='text'> 
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_email'>Nro. Contacto</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control' id='id_email' placeholder='Celular' type='text'>
                </div>
              </div>
              <div class='form-group internal'>
                <div class='col-md-11'>
                  <input class='form-control' id='id_phone' placeholder='Teléfono' type='text'>
                </div>
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_accomodation'>Direccion</label>
            <div class='col-md-4'>
              <input class='form-control' id='id_first_name' placeholder='Av. example' type='text'> 
            </div>
          </div>


          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_accomodation'>Correo electronico</label>
            <div class='col-md-4'>
              <input class='form-control' id='id_first_name' placeholder='example@example.com' type='text'> 
            </div>
          </div>


          
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_equipment'>Etnia</label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>Mestizo</option>
                    <option>Indigena</option>
                    <option>Blanco</option>
                    <option>Afroamericano</option>
                    <option>Otro</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_equipment'>Nivel de instruccion</label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>Primaria</option>
                    <option>Secundaria</option>
                    <option>Superior</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class='form-group'>
            <div class='col-md-offset-4 col-md-3'>
              <button class='btn-lg btn-primary' type='submit' routerLink="/login">Registrarme</button>
            </div>
            <div class='col-md-3'>
              <button class='btn-lg btn-danger' style='float:right' type='submit' routerLink="/login">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<!--<div>
    
    <div class="container-fluid mt-3 ">

    <div class="input-group">
        <span class="input-group-text">Cédula/Pasaporte</span> &nbsp;&nbsp;&nbsp;
        <input type="text" aria-label="First name" class="form-control">    
      </div>
      <br>

    <div class="input-group">
        <span class="input-group-text">Primer nombre</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" aria-label="First name" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="input-group-text">Segundo nombre</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" aria-label="Last name" class="form-control">
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Primer Apellido</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" aria-label="First name" class="form-control">&nbsp;&nbsp;&nbsp;
        <span class="input-group-text">Segundo apellido</span>&nbsp;&nbsp;&nbsp;
        <input type="text" aria-label="Last name" class="form-control">
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Correo electrónico</span>
        <input type="text" aria-label="First name" class="form-control">
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Fecha de nacimiento</span>
        <input type="text" aria-label="First name" class="form-control">
        <span class="input-group-text">Genero</span>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccionar genero</option>
            <option value="1">Femenino</option>
            <option value="2">Masculino</option>
          </select>
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Direccion</span>
        <input type="text" aria-label="First name" class="form-control">
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Nro. Teléfono</span>
        <input type="text" aria-label="First name" class="form-control">
        <span class="input-group-text">Nro. Celular</span>
        <input type="text" aria-label="Last name" class="form-control">
      </div>
      <br>

      <div class="input-group">
        <span class="input-group-text">Etnia</span>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccionar etnia</option>
            <option value="1">Mestizo</option>
            <option value="2">Indígena</option>
            <option value="3">Blanco</option>
            <option value="3">Afroamericano</option>
            <option value="3">Otros</option>
          </select>
        <span class="input-group-text">Nivel de instruccion</span>
        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccionar nivel</option>
            <option value="1">Primaria</option>
            <option value="2">Secundaria</option>
            <option value="3">Superior</option>
          </select>
      </div>
    </div>
</div>-->
