<p-image [src]="avatarURLProfile ? avatarURLProfile: urlPhoto ? getUriFile(urlPhoto) : 'assets/img/istap.png'" width="0"
	height="0" [preview]="true">
	<ng-template pTemplate="indicator">
		<!-- <i class="pi pi-check"></i> -->
	</ng-template>
</p-image>

<div class="card" style="margin-top: -1.5rem;">

	<section class="seccion-perfil-usuario">
		<div class="perfil-usuario-header">
			<div class="perfil-usuario-portada">

				<div class="perfil-usuario-logo">
					<img src="./assets/img/istap.png" alt="Logo">

				</div>
				<div class="perfil-usuario-avatar">
					<img [src]="avatarURLProfile ? avatarURLProfile: urlPhoto ? getUriFile(urlPhoto) : 'assets/img/istap.png'"
						alt="img-avatar" height="165px" (click)="handleDivClick()">
					<input type="file" #fileInput style="display: none;" accept="image/jpeg, image/jpg, image/png"
						(change)="onFileSelected($event)">
					<button type="button" class="boton-avatar" pTooltip="Foto de perfil" tooltipPosition="bottom">
						<i class="fas fa-camera" style="font-size: 1.3rem" (click)="fileInput.click()"></i>
					</button>
					<button type="button" class="image-avatar-preview" pTooltip="Maximizar" tooltipPosition="bottom"
						(click)="handleDivClick()">
						<i class="fa fa-eye" style="font-size: 1.2rem; "></i>
					</button>

				</div>
			</div>
		</div>
	</section>

	<div class="perfil-usuario-body m-5">

		<div class="perfil-usuario-bio">
			<h3 class="titulo">{{ classPersona.nombre1 }} {{ classPersona.nombre2 }} {{ classPersona.apellido1 }}
				{{classPersona.apellido2 }}</h3>
			<h3 class="titulo"> {{ classCopyCapacitador.tipoAbreviaturaTitulo}} {{classCopyCapacitador.tituloCapacitador
				}}</h3>
		</div>

		<div class="profile-data">
			<div class="profile-details">
				<ul>
					<li>
						<i class="icon fas fa-id-card mx-2"></i>
						<strong>Identificación:</strong> {{classPersona.identificacion}}
					</li>
					<li>
						<i class="icon fas fa-map-marker-alt mx-2"></i>
						<strong>Dirección:</strong> {{classPersona.direccion}}
					</li>
					<li>
						<i class="icon fas fa-phone-alt mx-2"></i>
						<strong>Teléfono:</strong> {{classPersona.telefono}}
					</li>
					<li>
						<i class="icon fas fa-envelope mx-2"></i>
						<strong>Correo:</strong> {{classPersona.correo}}
					</li>
					<li>
						<i class="icon fas fa-venus-mars mx-2"></i>
						<strong>Género:</strong> {{classPersona.genero === 'F' ? 'Femenino' : 'Masculino'}}
					</li>
					<li>
						<i class="icon fas fa-calendar mx-2"></i>
						<strong>Fecha de Nacimiento:</strong> {{classPersona.fechaNacimiento | date: 'yyyy/MM/dd'}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<p-tabView styleClass="tabview-custom">
		<p style="font-size: 15px; color: red;" class="m-3 mb-5">Los campos marcados con * son de ingreso obligatorio.
		</p>

		<p-tabPanel>
			<ng-template pTemplate="header">
				<i class="pi pi-user mx-1"></i>
				<span>Datos Personales</span>
			</ng-template>
			<div class="grid p-fluid m-2">
				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label">
							<input type="text" pInputText id="identificacion" name="identificacion"
								[(ngModel)]="classPersona.identificacion" [disabled]="true"
								title="Este campo no se puede editar" />
							<label htmlFor="identificacion" class="pi pi-id-card"> Identificación <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.nombre1}">
							<input type="text" pInputText id="nombre1" name="nombre1"
								[(ngModel)]="classPersona.nombre1" />
							<label htmlFor="nombre1" class="pi pi-user"> Primer Nombre <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.nombre2}">
							<input type="text" pInputText id="nombre2" name="nombre2"
								[(ngModel)]="classPersona.nombre2" />
							<label htmlFor="nombre2" class="pi pi-user"> Segundo Nombre <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
			</div>
			<!-- FILA 2-->
			<div class="grid p-fluid m-2">
				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.direccion}">
							<input type="text" pInputText id="direccion" name="direccion"
								[(ngModel)]="classPersona.direccion" />
							<label htmlFor="direccion" class="pi pi-map-marker"> Dirección <span
									class="red-asterisk">*</span></label>
						</span>
					</div>

				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.apellido1}">
							<input type="text" pInputText id="apellido1" name="apellido1"
								[(ngModel)]="classPersona.apellido1" />
							<label htmlFor="apellido1" class="pi pi-user">Primer Apellido <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.apellido2}">
							<input type="text" pInputText id="apellido2" name="apellido2"
								[(ngModel)]="classPersona.apellido2" />
							<label htmlFor="apellido2" class="pi pi-user">Segundo Apellido<span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
			</div>
			<!-- FILA 3-->
			<div class="grid p-fluid m-2">
				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.telefono}">
							<input type="text" pInputText id="telefono" name="telefono"
								[(ngModel)]="classPersona.telefono" />
							<label htmlFor="telefono" class="pi pi-phone"> Teléfono <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<p-calendar inputId="edad" class="ng-dirty" [showIcon]="true" placeholder="Fecha Nacimiento"
							id="fechaNacimiento" name="fechaNacimiento" class="w-full mb-3"
							[(ngModel)]="classPersona.fechaNacimiento"></p-calendar>
					</div>
				</div>

				<div class="col-12 md:col-4 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.celular}">
							<input type="text" pInputText id="celular" name="celular"
								[(ngModel)]="classPersona.celular" />
							<label htmlFor="celular" class="pi pi-mobile">Celular<span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
			</div>

			<div class="grid p-fluid m-2">
				<div class="col-12 md:col-12 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classPersona.correo}">
							<input type="text" pInputText id="correo" name="correo" [(ngModel)]="classPersona.correo" />
							<label htmlFor="correo" class="pi pi-envelope"> Email <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
			</div>
		</p-tabPanel>
		<p-tabPanel header="Header II">
			<ng-template pTemplate="header">
				<i class="pi pi-user-plus mx-1"></i>
				<span>Datos Extra</span>
			</ng-template>

			<div class="col-12 md:col-12 mt-1">
				<label class="p-inputgroup" for="nombre" style="font-size: 16px;">
					<strong>Seleccione su etnia<span class="red-asterisk">*</span> :</strong>
				</label>
				<div class="flex flex-wrap gap-3">
					<div class="flex align-items-center">
						<p-radioButton name="etnia" value="Mestizo" [(ngModel)]="classPersona.etnia"
							inputId="Mestizo"></p-radioButton>
						<label for="Mestizo" class="form-check-label">Mestizo</label>
					</div>
					<div class="flex align-items-center">
						<p-radioButton name="etnia" value="Blanco" [(ngModel)]="classPersona.etnia"
							inputId="Blanco"></p-radioButton>
						<label for="Blanco" class="form-check-label">Blanco</label>
					</div>
					<div class="flex align-items-center">
						<p-radioButton name="etnia" value="Indigena" [(ngModel)]="classPersona.etnia"
							inputId="Indigena"></p-radioButton>
						<label for="Indigena" class="form-check-label">Indígena</label>
					</div>
					<div class="flex align-items-center">
						<p-radioButton name="etnia" value="Afroecuatoriano" [(ngModel)]="classPersona.etnia"
							inputId="Afroecuatoriano"></p-radioButton>
						<label for="Afroecuatoriano" class="form-check-label">Afroecuatoriano</label>
					</div>
					<div class="flex align-items-center">
						<p-radioButton name="etnia"  [value]="'Otros'" [(ngModel)]="classPersona.etnia"
							inputId="Otros"></p-radioButton>
						<label for="Otros" class="form-check-label">Otros</label>
					</div>
				</div>
			</div>

			<div class="col-12 md:col-12 mt-1">
				<label class="p-inputgroup" for="nombre"><strong>Seleccione su nivel de
						instrucción <span class="red-asterisk">*</span> :</strong></label>
				<div class="flex flex-wrap gap-3">
					<div class="flex align-items-center">
						<p-radioButton name="Primaria" [value]="'Primaria'" [(ngModel)]="classPersona.nivelInstruccion"
							inputId="Primaria"></p-radioButton>
						<label for="Primaria" class="form-check-label">Primaria</label>
					</div>

					<div class="flex align-items-center">
						<p-radioButton name="Secundaria" [value]="'Secundaria'"
							[(ngModel)]="classPersona.nivelInstruccion" inputId="Secundaria"></p-radioButton>
						<label for="Secundaria" class="form-check-label">Secundaria</label>
					</div>

					<div class="flex align-items-center">
						<p-radioButton name="Superior" [value]="'Superior'" [(ngModel)]="classPersona.nivelInstruccion"
							inputId="Superior"></p-radioButton>
						<label for="Superior" class="form-check-label">Superior</label>
					</div>
				</div>
			</div>

		</p-tabPanel>
		<p-tabPanel header="Header III" *ngIf="userRol === 'DocenteCapacitador'">
			<ng-template pTemplate="header">
				<i class="pi pi-briefcase mx-1"></i>
				<span>Datos Docente</span>
			</ng-template>
			<div class="grid p-fluid m-2">
				<div class="col-12 md:col-6 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classCapacitador.tituloCapacitador}">
							<input type="text" pInputText id="tituloCapacitador" name="tituloCapacitador"
								[(ngModel)]="classCapacitador.tituloCapacitador" />
							<label htmlFor="tituloCapacitador" class="pi pi-user"> Título <span
									class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
				<div class="col-12 md:col-6 mt-1">
					<div class="p-inputgroup">
						<span class="p-float-label" [ngClass]="{'border-red': !classCapacitador.tipoAbreviaturaTitulo}">
							<input type="text" pInputText id="tipoAbreviaturaTitulo" name="tipoAbreviaturaTitulo"
								[(ngModel)]="classCapacitador.tipoAbreviaturaTitulo" />
							<label htmlFor="tipoAbreviaturaTitulo" class="pi pi-user"> Tipo Abreviatura
								Título <span class="red-asterisk">*</span></label>
						</span>
					</div>
				</div>
			</div>
		</p-tabPanel>
	</p-tabView>

	<div class="d-flex justify-content-center mb-4">
		<button pButton pRipple label="Actualizar" class="p-button-success" icon="pi pi-check"
			(click)="UpdateUser()"></button>
	</div>

</div>