


<!-- OTRO DISEÑO -->



<div class="container my-3">

    <div class="attendance-section">
        <h2 class="section-title"><strong>MATRICULAR A LOS ESTUDIANTES</strong> </h2>
   
    </div>

    
    <div class="container ">

        <p-messages severity="info" *ngIf="estadoCurso === 'LI'">
            <ng-template pTemplate>
                <div class="ml-2"> {{mesajePantalla}} </div>
            </ng-template>
        </p-messages>
        

        <div class="container mt-1" *ngIf="inicioCursoEstado === 'I' || inicioCursoEstado === 'F'; else otroDiv">
            <!-- No se mostrará nada aquí -->
          </div>
          
          <ng-template #otroDiv>
            <div class="container mt-1" *ngIf="estadoCurso === 'LI'">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">CURSO LISTO PARA INICIAR</h4>
                <hr>
                <p>Este curso puede ser iniciado.</p>
                <!-- Agrega aquí cualquier otro contenido que desees mostrar -->
              </div>
            </div>
          </ng-template>
          
    
        <div class="container mt-1" *ngIf=" inicioCursoEstado === 'I'">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">EL CURSO FUE INICIADO</h4>
                 <hr>
                <p>Usted no  puede hacer acciones solo puede revisar sus alumnos inscritos .</p>
               
                <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
            </div>
        </div>

        <div class="container mt-1" *ngIf=" inicioCursoEstado === 'F'">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">EL CURSO A FINALIZADO</h4>
                 <hr>
                <p>Usted no  puede hacer acciones solo puede revisar sus alumnos inscritos .</p>
               
                <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
            </div>
        </div>
    
        <div class="container mt-1" *ngIf="estadoCurso === 'FP'">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">EL CURSO ALUMNNO PUEDE INICIAR</h4>
                 <hr>
                <p>La fecha de inicio del curso esta próxima.</p>
               
                <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
            </div>
        </div>

        <div class="container mt-1" *ngIf="estadoCurso === 'IN' && inicioCursoEstado === 'V'">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">EL CURSO NO HA SIDO INICIADO</h4>
                 <hr>
                <p>Su curso se ha pasado de la fecha de inicio.</p>
               
                <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
            </div>
        </div>
        
        
        <div class="card text-center mb-2 shadow-4 rounded-5">
            <p-table [value]="listaInscritos" [paginator]="true" [rows]="rows"
                [showCurrentPageReport]="true" [(first)]="first" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} estudiantes"
                [rowsPerPageOptions]="[5,10,15]">
                <ng-template pTemplate="header">
                    <tr>
                   
                        <th style="width:40%"><strong>INSCRITOS</strong></th>
                        <th style="width:25%"><strong>IDENTIFICACIÓN</strong></th>
                        <th style="width:25%"><strong>CELULAR</strong></th>
                        <th style="width:10%"><strong>FECHA INSCRIPCIÓN</strong></th>
                        <th style="width:10%"><strong>OPCIONES</strong></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-list>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="'data:image/jpeg;base64,' + list.usuario!.fotoPerfil" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle me-2" />
                                <div class="p-2">
                                    <p class="fw-bold mb-1">{{ list.usuario!.persona!.nombre1 }} {{
                                        list.usuario!.persona!.nombre2 }} {{ list.usuario!.persona!.apellido1 }} {{
                                        list.usuario!.persona!.apellido2 }}</p>
                                    <p class="text-muted mb-0">{{ list.usuario!.persona!.correo }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.usuario!.persona!.identificacion }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.usuario!.persona!.celular }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{list.fechaInscrito}}</p>
                        </td>
                        <td >
                            <div class="d-flex align-items-center">
                                <p-button *ngIf='list.estadoInscrito == true' icon="pi pi-check-square"
                                    styleClass="p-button-success me-2"
                                    (onClick)="NoAprobarParticipante(list.idInscrito)" [disabled]="estadoCurso === 'IN' || inicioCursoEstado === 'I' || inicioCursoEstado === 'F'"></p-button>
                                <p-button *ngIf='list.estadoInscrito == false' icon="pi pi-times"
                                    styleClass="p-button-danger me-2"
                                    (onClick)="aprobarParticipante(list.idInscrito)" [disabled]="estadoCurso === 'IN' || inicioCursoEstado === 'I' || inicioCursoEstado === 'F'"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="container m-4 text-center" >
            <p-button (onClick)="iniciarCursoCapacitacionContinua()" label="Iniciar Curso" styleClass="p-button-success" [disabled]="inicioCursoEstado=== 'F' || estadoCurso=== 'FP' || inicioCursoEstado === 'I' || listaInscritos.length == 0"></p-button>
        </div>
    </div>
</div>



<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>