<div class="container my-5">
    <div class="shadow-4 rounded-5 overflow-hidden">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>Inscritos</th>
                        <th>Identificación</th>
                        <th>Celular</th>
                        <th>Fecha Inscripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of listaInscritos">
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]="'data:image/jpeg;base64,' + list.usuario!.fotoPerfil" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle me-2" />
                                <div>
                                    <p class="fw-bold mb-1">{{ list.usuario!.persona!.nombre1 }} {{
                                        list.usuario!.persona!.nombre2 }} {{ list.usuario!.persona!.apellido1 }} {{
                                        list.usuario!.persona!.apellido2 }}</p>
                                    <p class="text-muted mb-0">{{ list.usuario!.persona!.correo }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.usuario!.persona!.identificacion }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.usuario!.persona!.celular }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{list.fechaInscrito}}</p>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p-button *ngIf='list.estadoInscrito == true' icon="pi pi-check-square"
                                    styleClass="p-button-success me-2"
                                    (click)="NoAprobarParticipante(list.idInscrito)"></p-button>
                                <p-button *ngIf='list.estadoInscrito == false' icon="pi pi-times"
                                    styleClass="p-button-danger me-2"
                                    (click)="aprobarParticipante(list.idInscrito)"></p-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container m-4 text-center">
        <p-button (click)="InicioCurso()" label="Iniciar Curso" styleClass="p-button-success"></p-button>
    </div>
</div>