<!-- Implementacion de la parte de la que vamos a poner la asistencia -->

<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
    <div class="grid p-fluid m-5">
        <div class="col-12 md:col-12 mt-1">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <input type="text" pInputText id="observacionAsistencia" name="observacionAsistencia"
                        [(ngModel)]="asistenciaEstudiante.observacionAsistencia" required>
                    <label htmlFor="username">Prerrequisito para el curso</label>
                </span>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center; margin: 5px;">
            <p-button [label]="'Aceptar'" icon="pi pi-check-square" styleClass="p-button-success  mb-2"></p-button>
        </div>
    </div>
</p-dialog>



<div class="grid p-fluid m-4">
    <div class="col-12 md:col-10">
        <div class="justify-content-center">
            <p-dropdown [options]="listCourseFilter" placeholder="SELECCIONE CURSO APROBADO" optionLabel="nombreCurso"
                [showClear]="false">
                <ng-template let-course pTemplate="item">
                    <div (click)="catchCourseSelected(course)"><i
                            [style]="course.estadoAprovacionCurso !== 'A' ? {color : 'red'}:{color : 'blue'}"
                            class="fa fa-book-open"></i>
                        {{
                        course.nombreCurso }}
                        (ID:
                        {{ course.idCurso }})
                        {{course.estadoAprovacionCurso !== 'A' ? '- EL CURSO AÚN NO ESTA APROBADO':''}}
                    </div>

                </ng-template>
            </p-dropdown>
        </div>
    </div>
</div>


<!-- otra parte -->


<div class="container my-3" *ngIf="participantsVisibleData">
    <div class="container ">
        <div class="container">
            <p-button [disabled]="listParticipantesMatriculados.length === 0"
                [label]="estadoFinal === 'F'? 'VER HISTORIAL ASISTENCIA':'Tomar Asistencia'" icon="pi pi-calendar-minus"
                styleClass="p-button-success  mb-2" (onClick)="tomarAsistenciaCurso()"></p-button>

            <p-button *ngIf="isFalstanTresDias && isValidateExistenciaNotas == true" Regístrate="Generar Notas Finales"
                icon="pi pi-plus" styleClass="p-button-success  mb-2 m-5"
                (onClick)="tomarNotasFinalesCurso()"></p-button>

            <p-button *ngIf="isValidateExistenciaNotas == false"
                [label]="estadoFinal === 'F'? 'VER HISTORIAL NOTAS': 'Modificar Notas Finales'" icon="pi pi-plus"
                styleClass="p-button-success  mb-2 m-5" (onClick)="tomarNotasFinalesCurso()"></p-button>
        </div>



        <div class="container mt-1" *ngIf="estadoFinal === 'F'">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">EL CURSO A FINALIZADO</h4>
                <hr>
                <p>Usted no puede hacer acciones solo puede revisar sus alumnos Matriculados.</p>

                <!-- <p class="mb-0">Si necesita hacer cambios en el curso, comuníquese con el administrador del sistema.</p> -->
            </div>
        </div>

        <div class="card text-center mb-2 shadow-4 rounded-5">
            <p-table [value]="listParticipantesMatriculados" [paginator]="true" [rows]="rows"
                [showCurrentPageReport]="true" [(first)]="first" [tableStyle]="{'min-width': '50rem'}"
                currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} estudiantes"
                [rowsPerPageOptions]="[5,10,15]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:40%"><strong>NOMBRES</strong></th>
                        <th style="width:25%"><strong>IDENTIFICACIÓN</strong></th>
                        <th style="width:25%"><strong>CELULAR</strong></th>
                        <th style="width:10%"><strong>FECHA NACIMIENTO</strong></th>
                        <th style="width:10%"><strong>GÉNERO</strong></th>
                        <th style="width:10%"><strong>EDAD</strong></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-list>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">

                                <div>
                                    <p class="fw-bold mb-1">{{ list.inscrito!.usuario!.persona!.nombre1 }} {{
                                        list.inscrito!.usuario!.persona!.nombre2 }} {{
                                        list.inscrito!.usuario!.persona!.apellido1 }} {{
                                        list.inscrito!.usuario!.persona!.apellido2 }}</p>
                                    <p class="text-muted mb-0">{{ list.inscrito!.usuario!.persona!.correo }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.inscrito!.usuario!.persona!.identificacion }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.inscrito!.usuario!.persona!.celular }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.inscrito!.usuario!.persona!.fechaNacimiento }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ list.inscrito!.usuario!.persona!.genero }}</p>
                        </td>
                        <td>
                            <p class="text-muted mb-0">{{ calcularEdad(list.inscrito!.usuario!.persona!.fechaNacimiento)
                                }} años</p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!-- message -->

<div class="container mt-1 p-5" *ngIf="!participantsVisibleData">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">TENGA EN CUENTA</h4>
        <hr>
        <p>Seleccione el curso que ya fue aceptado, de lo contrario solo recibirá un mensaje de advertencia.</p>

    </div>
</div>