<div class="card">
    <p-dataView #dv [value]="cursoList" [layout]="layout" [rows]="3" [paginator]="true">
        <ng-template pTemplate="header">
            <div class="flex justify-content-end">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <img [src]="product.fotoCurso ? 'data:image/jpeg;base64,' + product.fotoCurso : '../../../../assets/img/camer.png'" [alt]="product.fotoCurso" class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"/>
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900"> {{product.nombreCurso}}</div>
                            <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                            <div class="flex align-items-center gap-3">
                                <!-- <span class="flex align-items-center gap-2">
                                    <i class="pi pi-tag"></i>
                                </span> -->
                                <p-tag *ngIf="product.estadoPublicasionCurso === 'I'" [value]="'INICIO'" severity="success"></p-tag>
                                <p-tag *ngIf="product.estadoPublicasionCurso === 'F'" [value]="'FINALIZO'" severity="warning"></p-tag>
                            </div>
                            <div class="flex align-items-center justify-content-between" >
                                <p-speedDial appendTo="body" [model]="items" (onClick)="opcionesBotonesLista(product.idCurso)" type="circle" [radius]="80" buttonClassName="md:align-self-end mb-2 p-button-rounded p-button-success"></p-speedDial>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
                <div class="p-4 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <p-speedDial appendTo="body" [model]="items" type="circle" (onClick)="opcionesBotonesLista(product.idCurso)" [radius]="80" buttonClassName="p-button-success"></p-speedDial>
                        <!-- <span class="flex align-items-center gap-2">
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.category }}</span>
                        </span> -->
                        <p-tag *ngIf="product.estadoPublicasionCurso === 'I'" [value]="'INICIO'" severity="success"></p-tag>
                        <p-tag *ngIf="product.estadoPublicasionCurso === 'F'" [value]="'FINALIZO'" severity="warning"></p-tag>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-5">
                        <img [src]="product.fotoCurso ? 'data:image/jpeg;base64,' + product.fotoCurso : '../../../../assets/img/camer.png'" [alt]="product.fotoCurso" class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" />
                        <div class="text-2xl font-bold">{{product.nombreCurso}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    </div>



<div class="container mt-4">
    <div class="card text-center mb-2">

        <h5 class="mt-4 ">MIS CURSOS</h5>
        <div class="mb-3">
            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
                styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
                styleClass="p-button-text"></p-button>

        </div>
        <p-table [value]="cursoList" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
            [tableStyle]="{'min-width': '50rem'}"
            currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} usuarios"
            [rowsPerPageOptions]="[5,7,10]">
            <ng-template pTemplate="header">
                <tr>

                    <th style="width:25%">NOMBRE</th>
                    <th style="width:25%">DURACIÓN</th>
                    <th style="width:25%">F-INICIO</th>
                    <th style="width:25%">F-FIN</th>
                    <th style="width:25%">FOTO</th>
              
                    <!-- <th style="width:25%">SILABO</th> -->
                    <!-- <th style="width:25%">NECESIDAD</th> -->
                    <th style="width:25%">VER-CURSO</th>
                    <th style="width:25%">INSCRITOS</th>
                    <!-- <th style="width:25%">RegFoto</th> -->
                    <th style="width:25%">Publicar</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.nombreCurso}}</td>
                    <td>{{data.duracionCurso}}</td>
                    <td>{{data.fechaInicioCurso}}</td>
                    <td>{{data.fechaFinalizacionCurso}}</td>

                    <td><img [src]="'data:image/jpeg;base64,' + data.fotoCurso" alt="" width="50px" height="50px"
                            class="rounded-circle"></td>
                 
                    <!-- <td><p-button type="button" icon="pi pi-eye" styleClass="p-button-text"
                            (click)="silabo(data.idCurso)"></p-button></td> -->
                    <!-- <td><p-button type="button" icon="pi pi-send" styleClass="p-button-text"
                            (click)="editCurso(data.idCurso)"></p-button></td> -->
                    <td><p-button type="button" icon="pi pi-eye" styleClass="p-button-text"
                            (click)="VerCursoInicio(data.idCurso)"></p-button></td>
                    <td><p-button type="button" icon="pi pi-eye" styleClass="p-button-text"
                            (click)="VerParticipantesInscritos(data.idCurso)"></p-button></td>
                    <!-- <td><p-button type="button" icon="pi pi-eye" styleClass="p-button-text"
                            (click)="VerRegistroFotografico(data.idCurso)"></p-button></td>-->
                    <td> 

                        <p-button type="button" icon="pi pi-send" styleClass="p-button-text"
                            (click)="showModaLPublisedCourse(data)"></p-button>

                    </td>


                    <!-- <p-button *ngIf="data.estadoAprovacionCurso == 'A' || data.estadoPublicasionCurso == ''" type="button" icon="pi pi-send"
                            styleClass="p-button-text" (click)="updateEstadoPublico(data)"></p-button>
                        
                        </td> -->

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>




<!-- IMPLEMENTACION DEL MODAL PARA QUE VISUALICE EL CURSO -->

<!-- <p-dialog header="{{cursoViewPublished.nombreCurso}}" [(visible)]="visibleCursoPublicar" [modal]="true"
    [style]="{ width: '70vw', height: '250' }" [draggable]="false" [resizable]="false"> -->

<!--  estadoPublicasionCurso : V: visible ; O: Oculto --  estadoAprovacionCurso -> D: Default ;  A: Aprovado ; R: Rechazado -->


<p-dialog
    [header]="cursoViewPublished.nombreCurso + ' - ' + (cursoViewPublished.estadoPublicasionCurso === 'I' ? 'Iniciado': cursoViewPublished.estadoPublicasionCurso === 'V' ? 'Publicado' : cursoViewPublished.estadoAprovacionCurso === 'A' ? 'Listo para publicar' : cursoViewPublished.estadoAprovacionCurso === 'P' ? 'Estado de validación' : cursoViewPublished.estadoAprovacionCurso === 'R' ? 'Rechazado': 'Rechazado') "
    [(visible)]="visibleCursoPublicar" [modal]="true" [style]="{ width: '70vw', height: '250' }" [draggable]="false"
    [resizable]="false">


    <div class="container" [class.alert-success]="cursoViewPublished.estadoPublicasionCurso === 'V'"
        [class.alert-success]="cursoViewPublished.estadoPublicasionCurso === 'I'"
        [class.alert-primary]="cursoViewPublished.estadoAprovacionCurso === 'A'"
        [class.alert-warning]="cursoViewPublished.estadoAprovacionCurso === 'P'"
        [class.alert-danger]="cursoViewPublished.estadoAprovacionCurso === 'R'">
        <div class="alert-heading" style="text-align: center;"> <strong>{{ cursoViewPublished.estadoPublicasionCurso ===
                'I' ? 'Curso Iniciado': cursoViewPublished.estadoPublicasionCurso ===
                'V' ? 'Curso publicado' : cursoViewPublished.estadoAprovacionCurso === 'A' ? 'Curso listo para ser
                publicado': cursoViewPublished.estadoAprovacionCurso === 'P' ? 'En este momento se encuentra validando
                su curso': cursoViewPublished.estadoAprovacionCurso === 'R' ? 'Curso rechazado' : 'Este curso no fue
                aprobado con anterioridad'}} </strong></div>
        <hr>
        <p class="mb-0" *ngIf="cursoViewPublished.estadoAprovacionCurso === 'R'">Lo sentimos su curso no fue aprovado,
            comuníquese con el administrador del sistema.</p>
    </div>



    <p-card header="Informacion General del Curso" style="margin: 1px;">



        <div class="grid" style="margin: 2px;">
            <div class="col-5 flex justify-content-center">
                <div style="float: left;">
                    <p><strong>Area:</strong> {{ cursoViewPublished!.especialidad?.area?.nombreArea }}</p>
                    <!-- <p><strong>Nombre del Curso:</strong> {{cursoViewPublished!.nombreCurso }}</p> -->
                    <p><strong>Fecha de Inicio</strong> {{ cursoViewPublished!.fechaInicioCurso }}</p>
                    <p><strong>Número de Cupos:</strong> {{cursoViewPublished!.numeroCuposCurso }}</p>

                    <p><strong>Horario:</strong> {{cursoViewPublished!.horarioCurso?.horaInicio + ' a ' +
                        curso.horarioCurso?.horaFin}}</p>
                </div>
            </div>

            <div class="col-5 flex justify-content-center">
                <div style="float: left;">

                    <p><strong>Código del curso: </strong> {{ cursoViewPublished!.especialidad?.codigoEspecialidad
                        }}</p>
                    <p><strong>Fecha de Finalización:</strong> {{ cursoViewPublished!.fechaFinalizacionCurso }}</p>
                    <p><strong>Horas del curso:</strong> {{cursoViewPublished!.duracionCurso}}</p>
                    <p><strong>Modalidad:</strong> {{ cursoViewPublished!.modalidadCurso?.nombreModalidadCurso }}
                    </p>
                </div>
            </div>
        </div>
    </p-card>

    <ng-template pTemplate="footer">
        <div class="p-grid p-justify-end">
            <p-button label="Editar" icon="pi pi-pencil" styleClass="p-button-secondary mb-2"
                (onClick)="editarCursoCapacitadionContinua()"></p-button>

            <p-button label="Publicar" icon="pi pi-send" styleClass="p-button-primary mb-2"
                [disabled]="cursoViewPublished.estadoAprovacionCurso !== 'A' || cursoViewPublished.estadoPublicasionCurso === 'V' || cursoViewPublished.estadoPublicasionCurso === 'I'"
                (onClick)="updatePublicCursosCapacitacion()"></p-button>

        </div>
    </ng-template>
    <!-- </div>  -->



    <div class="grid p-fluid m-1">

        <div class="col-md-12" style="text-align: center; margin: 5px;">
            <p-button (onClick)="closeModalView()" label="Aceptar" icon="pi pi-check"
                styleClass="p-button-success  mb-2"></p-button>
        </div>
    </div>

</p-dialog>