<!-- <div class="job-explain"> -->
<img class="job-bg" alt="" style="background-color: #007bff;">
<div class="job-logos">
    <svg viewBox="0 0 32 32" style="background-color: #9dc1f1;">
        <image [attr.xlink:href]="'http://localhost:8080/api/uploadUri/' + dataCurso.fotoCurso + '/images_course'"
            width="32" height="32" />
    </svg>
</div>

<!-- DETAIL -->
<div class="job-explain-content">
    <div class="job-title-wrapper">
        <div class="job-card-title">{{dataCurso.nombreCurso}}</div>
    </div>
    <div class="job-subtitle-wrapper">
        <div class="company-name">
            Cupos Disponibles: <span class="comp-location">{{dataCurso.numeroCuposCurso}}</span>
        </div>
        <div class="posted">
            Desde el <strong>{{dataCurso.fechaInicioCurso}}</strong> al
            <strong>{{dataCurso.fechaFinalizacionCurso}}</strong>
        </div>
    </div>
    <div class="explain-bar">
        <div class="explain-contents">
            <div class="explain-title"><b>Modalidad</b></div>
            <div class="explain-subtitle">{{dataCurso.modalidadCurso!.nombreModalidadCurso}}</div>
        </div>
        <div class="explain-contents">
            <div class="explain-title"><b>Nivel Curso</b></div>
            <div class="explain-subtitle">{{dataCurso.nivelCurso!.nombreNivelCurso}}</div>
        </div>
        <div class="explain-contents">
            <div class="explain-title"><b>Horarios</b></div>
            <div class="explain-subtitle">{{dataCurso.horarioCurso!.horaInicio}} a {{dataCurso.horarioCurso!.horaFin}}
            </div>
        </div>
        <div class="explain-contents">
            <div class="explain-title"><b>Días</b></div>
            <div class="explain-subtitle">{{dataCurso.horarioCurso!.dias}}</div>
        </div>
        <div class="explain-contents">
            <div class="explain-title"><b>Docente Capacitador</b></div>
            <div class="explain-subtitle">
                {{dataCurso.capacitador!.tipoAbreviaturaTitulo}}.{{dataCurso.capacitador!.usuario!.persona!.nombre1}}
                {{dataCurso.capacitador!.usuario!.persona!.nombre2}}
                {{dataCurso.capacitador!.usuario!.persona!.apellido1}}
                {{dataCurso.capacitador!.usuario!.persona!.apellido2}}</div>
        </div>
    </div>
    <div class="overview-text">
        <div class="overview-text-header">Descripción</div>
        <div class="overview-text-subheader">{{dataCurso.descripcionCurso}}</div>
    </div>
    <div class="overview-text">
        <div class="overview-text-header">Prerrequisitos</div>
        <div class="overview-text-item" *ngFor="let listPrerrequistos of listPrerrequistos">
            {{listPrerrequistos.nombrePrerequisitoCurso}}
        </div>
    </div>
    <div *ngIf="isInscritoInCourse == false" class="container m-3" style="text-align: center;">
        <button (click)="pasarInfoCursoIsncripcion(dataCurso.idCurso, dataCurso.fechaInicioCurso!)" pButton pRipple
            label="Inscribirme" class="p-button-success"></button>
    </div>
    <div *ngIf="isInscritoInCourse == true" class="container m-3" style="text-align: center;">
        <button (click)="pasarInfoCursoIsncripcion(dataCurso.idCurso, dataCurso.fechaInicioCurso!)" pButton pRipple
            label="Actualizar Ficha" class="p-button-success"></button>
    </div>
</div>
<!-- DETAIL -->