<div class="m-2 flex justify-content-center">
  <p-button label="Subir Hoja de Vida" style="margin: 5px;" (onClick)="SubirHojaVida()"></p-button>
  <p-button label="Generar Hoja de Vida" style="margin: 5px;" (onClick)="generarHojaVida()"
    styleClass="p-button-success"></p-button>
</div>

<p-card header="Subir Hoja de Vida" *ngIf="idUploadHojaVida" class="m-5" style="text-align: center;">

  <div class="col-md-7 d-flex flex-column justify-content-center align-items-center"
    style="min-height: 630px; background-color: rgb(240, 249, 250); position: relative; border-radius: 20px;   max-width: 100%;">
    <div class="form-group mb-5" style="border: 2px dashed #ccc; padding: 30px; border-radius: 10px;"
      *ngIf="isTieneArchivo === false">
      <label for="archivo" class="font-weight-bold mb-3">Seleccionar archivo PDF:</label>

      <!-- <div class="custom-file">
        <input type="file" #fileIn accept="application/pdf" id="archivo" (change)="onFileSelected($event)">
      </div> -->
      <div class="file-upload" style="text-align: center; align-items: center;">
        <label for="archivo" class="file-upload-label">
          <i class="fas fa-cloud-upload-alt"></i> Seleccionar archivo
        </label>
        <input type="file" #fileIn accept="application/pdf" id="archivo" (change)="onFileSelected($event)">
      </div>

    </div>
    <div class="mt-5">
      <i class="fa fa-upload fa-3x"></i>
    </div>

    <div class="mx-2" *ngIf="fileUrl" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0;">
      <embed style="border-radius: 10px; " [src]="fileUrl" type="application/pdf" width="100%" height="100%" />
    </div>

  </div>

  <div class="m-5" style="text-align: center;">
    <p-button label="Guardar" *ngIf="fileUrl && isExiste === false" (onClick)="subirHojaVida()"
      styleClass="p-button-success"></p-button>
    <p-button label="Actualizar" *ngIf="fileUrl  && isExiste === true" (onClick)="actualizarHojaVidaDocumento()"
      styleClass="p-button-success"></p-button>
  </div>

  <div class="file-upload" *ngIf="fileUrl && isExiste === true" style="text-align: center; align-items: center;">
    <label for="archivo" class="file-upload-label">
      <i class="fas fa-cloud-upload-alt"></i> Seleccionar archivo
    </label>
    <input type="file" #fileIn accept="application/pdf" id="archivo" (change)="onFileSelected($event)">
  </div>

</p-card>


<!-- HOJA VIDA -->





<div class="card flex justify-content-center m-5" *ngIf="idNewHojaVida">



  <div class="r m-4" style="text-align: center;">
    <p-button *ngIf="isExiste === false" label="Guardar Hoja de Vida" class="m-2" (onClick)="guardarHojaVida()"
      styleClass="p-button-success"></p-button>
    <p-button *ngIf="isExiste === true" label="Actualizar Hoja de Vida" class="m-2" (onClick)="actulizarHojaVida()"
      styleClass="p-button-success"></p-button>
    <p-button *ngIf="isExiste === true" label="Ver Hoja de Vida" class="m-2" (onClick)="verrHojaVida()"
      styleClass="p-button-success"></p-button>

  </div>

</div>