


<form (ngSubmit)="save()" enctype="multipart/form-data">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="pdfp.nombre" required>
    </div>

    <div>
        <label for="pdf">PDF:</label>
        <input type="file" id="pdf" name="pdf" (change)="handleFileInput($event)" required>
    </div>

    <div>
        <iframe *ngIf="pdfp.pdf" [src]="pdfSrc" width="500" height="600"></iframe>
      </div>


      <div>
        <iframe [src]="pdfSrc" width="500" height="600"></iframe>
      </div>


      <div>
        <label for="excel">Excel:</label>
        <input type="file" id="excel" name="excel" (change)="handleExcelInput($event)">
      </div>

      <!-- <iframe [src]="pdfSrc" width="100%" height="500px"></iframe> -->

      <!-- <embed [src]="pdfSrc" type="application/vnd.ms-excel" width="100%" height="500px" /> -->

      <a [href]="pdfSrcExel" target="_blank">Abrir archivo Excel</a><br>
      <a [href]="pdfSrcExel" download="archivo.xlsx" class="mt-5">Descargar Excel</a><br>


    <button type="submit" class="mt-6">Enviar</button>
</form>



<br>
<div class="container">
    <button (click)="get()"> get</button>
</div>



<div class="div mt-7">
<button (click)="imprimirTabla()">print</button>
</div>