<!-- <p-card header="Registro de evidencias">
    <form (ngSubmit)="saveEvidenciasRegistrofotografico()" ngNativeValidate style="padding: 15px;">
        <p-card header="Registro fotografico del curso">
            <div class="row rounded mb-3">

                <div class="col-md-6">

                    <div class="grid p-fluid">
                        <div class="col-12 md:col-12" style="align-items: center;">

                            <div class="card flex justify-content-center">
                                <span class="p-float-label">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea id="descripcionCurso"
                                        name="descripcionCurso"
                                        [(ngModel)]="registroFotografico.descripcionFoto"></textarea>
                                    <label for="float-input">Descripción del curso a impartir</label>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="grid p-fluid">

                        <div class="col-12 md:col-12 mt-2">
                            <div class="p-inputgroup">
                                <p-calendar inputId="edad" class="ng-dirty" [showIcon]="true"
                                    placeholder="Fecha de evidencia" id="fechaEvidencia" name="fechaEvidencia"
                                    [(ngModel)]="registroFotografico.fecha"></p-calendar>
                            </div>

                        </div>
                    </div>

                   


                </div>
                <div class="col-md-6">
                    <div class="personal-image">
                        <label class="label" style="border: black;">
                            <input type="file" accept="image/jpeg, image/jpg, image/png" (change)="subirFoto($event)" />
                            <figure class="personal-figure">
                                <img *ngIf="registroFotografico.foto"
                                    [src]="registroFotografico.foto ? 'data:image/jpeg;base64,' + registroFotografico.foto : '../../../../assets/img/camer.png'"
                                    class="personal-avatar" alt="logoFundacion" />
                                <img style="padding: 20px;" *ngIf="!registroFotografico.foto"
                                    src="./assets/img/camer.png" class="personal-avatar" alt="Logo Fundación" />
                                <figcaption class="personal-figcaption">
                                    <img src="./assets/img/camer.png" />
                                </figcaption>
                            </figure>
                        </label>
                    </div>
                </div>

            </div>
        </p-card>
        <div class="container  text-center mt-4">
            <p-button label="Guardar" type="ngSubmit" icon="pi pi-save" styleClass="p-button-success"></p-button>
        </div>
    </form>
</p-card> -->


<!-- 

<p-table #dt [columns]="cols" [value]="lisp" selectionMode="multiple"  responsiveLayout="scroll" [exportHeader]="'customExportHeader'">
    <ng-template pTemplate="caption">
        <div class="flex">
            <button (click)="imprimirTabla()">mip</button>
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.nombre1}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{col.nombre1}}
            </td>
        </tr>
    </ng-template>
</p-table> -->