<div class="card flex justify-content-center">
    <p-panel header="Informacion General del Curso">
        <p-card header="Informacion General del Curso" style="margin: 5px;">
            <div class="grid">
                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Area:</strong> Miguel Henry Martins</p>
                        <p><strong>Nombre del Curso:</strong> Turma B</p>
                        <p><strong>Fecha de Inicio</strong> Juan Fernando Murilo Cardoso</p>
                        <p><strong>Campo de Formación:</strong> Juan Fernando Murilo Cardoso</p>
                        <p><strong>Docente Responsable:</strong> Miguel Henry Martins</p>
                    </div>
                </div>

                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Horario:</strong> Miguel Henry Martins</p>
                        <p><strong>Código del curso: </strong> Turma B</p>
                        <p><strong>Fecha de Finalización:</strong> Juan Fernando Murilo Cardoso</p>
                        <p><strong>Horas del curso:</strong> Miguel Henry Martins</p>
                        <p><strong>Modalidad:</strong> Turma B</p>

                    </div>
                </div>
            </div>
        </p-card>

        <p-card header="Prerrequisitos" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>


        <p-card header="Descripción del Curso" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>

        <p-card header="Objetivos del Curso" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>

    </p-panel>
</div> 