<div>
    <section style="align-items: center;" class="mb-5">Registro de Cursos de capacitación</section>
</div>

<form ngNativeValidate>
    <div class="grid p-fluid">
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"></p-dropdown>
                <label for="dropdown">Area de curso</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"></p-dropdown>
                <label for="dropdown">Especialidad de curso</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"></p-dropdown>
                <label for="dropdown">Programa</label>
            </span>
        </div>
    </div>

    <div class="grid p-fluid">
        <div class="col-12 md:col-4 mt-2">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText>
                <label for="inputtext">Nombre curso</label>
            </span>
        </div>

        <div class="col-12 md:col-4 mt-2">
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"
                        placeholder="Duración curso"> </p-inputNumber>
                </span>
            </div>

        </div>

        <div class="col-12 md:col-4 mt-2">
            <div class="p-inputgroup">

                <p-calendar inputId="edad" name="edad" id="edad" class="ng-dirty" [showIcon]="true"
                    placeholder="Fecha inicio de curso"></p-calendar>
            </div>
        </div>


    </div>

    <div class="grid p-fluid">
        <div class="col-12 md:col-12 mt-2">


            <div class="card flex justify-content-center gap-7">
                <div class="flex align-items-center gap-1">
                    <p-checkbox name="group1" value="Lunes" inputId="ny"></p-checkbox>
                    <label for="ny" class="mt-2">Lunes</label>

                    <p-checkbox name="group1" value="Martes" inputId="ny" class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Martes</label>

                    <p-checkbox name="group1" value="Miercoles" inputId="ny"  class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Miercoles</label>

                    <p-checkbox name="group1" value="Jueves" inputId="ny"  class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Jueves</label>

                    <p-checkbox name="group1" value="Viernes" inputId="ny"  class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Viernes</label>

                    <p-checkbox name="group1" value="Sabado" inputId="ny"  class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Sabado</label>

                    <p-checkbox name="group1" value="Domingo" inputId="ny"  class="ml-2"></p-checkbox>
                    <label for="ny" class="mt-2">Domingo</label>
                </div>
            </div>


        </div>


    </div>

</form>