<div class="card flex justify-content-center">

    <p-panel header="DISEÑO CURRICULAR">
        <p-card header="Informacion General del Curso"
            style="margin: 5px; background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
            <div class="grid">
                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Area:</strong> Miguel Henry Martins</p>
                        <p><strong>Nombre del Curso:</strong> Turma B</p>
                        <p><strong>Fecha de Inicio</strong> Juan Fernando Murilo Cardoso</p>
                        <div class="distribucion-aprendizaje">
                            <p><strong>Dsitribucion de Aprendizaje</strong></p>
                            <p><strong>Docencia:</strong>10</p>
                            <p><strong>Prácticas:</strong>10</p>
                            <p><strong>Horas autónomas:</strong>10</p>
                        </div>
                    </div>
                </div>

                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Horario:</strong> Miguel Henry Martins</p>
                        <p><strong>Código del curso: </strong> Turma B</p>
                        <p><strong>Fecha de Finalización:</strong> Juan Fernando Murilo Cardoso</p>
                        <p><strong>Horas del curso:</strong> Miguel Henry Martins</p>
                        <p><strong>Modalidad:</strong> Turma B</p>
                        <p><strong>Campo de Formación:</strong> Juan Fernando Murilo Cardoso</p>
                        <p><strong>Docente Responsable:</strong> Miguel Henry Martins</p>
                    </div>
                </div>
            </div>
        </p-card>

        <p-card header="Prerrequisitos" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>


        <p-card header="Descripción del Curso" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>

        <p-card header="Objetivos del Curso" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>
        <p-card header="Contenido del Curso" class="m-5">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
                numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                esse, cupiditate neque
                quas!
            </p>
        </p-card>

        <p-card header="Temas Transversales" class="m-5">

            <form novalidate>
                <div class="grid p-fluid m-5">
                    <div class="col-10 md:col-10">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="icono  fas fa-pencil-alt"></i></span>
                            <textarea rows="4" cols="35" pInputTextarea class="no-resize"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <h5>Estrategias de Enseñanza</h5>
            <form novalidate>
                <div class="grid p-fluid m-5">
                    <div class="col-10 md:col-10">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-file"></i></span>
                            <textarea rows="4" cols="35" pInputTextarea class="no-re
                            "></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Save" icon="pi pi-plus" styleClass="p-button-success  mb-2"></p-button>
                </div>
            </form>

        </p-card>

        <p-card header="Mecanismos de Evaluación " class="m-5">
            <h4>Evaluación diagnóstica</h4>

            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3">
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaCurricular" name="tecnicaCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.tecnicaFormativa">
                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                Formativa</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumentoCurricular" name="instrumentoCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoFormativa">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                Formativo</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="almacenarLista()"></p-button>
            </div>
            <!-- </form> -->
            <div class="card">
                <p-table [value]="listEvaluacionDiagnosticaCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>TÉCNICA A EVALUAR <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                            </th>
                            <th>INSTRUMENTO A EVALUAR <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th scope="col">Quitar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaFormativa }}</td>
                            <td>{{ data.instrumnetoFormativa }}</td>
                            <td><button pButton type="button" class="p-button-rounded p-button-danger "
                                    icon="pi pi-times" (click)="quitarElemento(data.tecnicaCurricular)"></button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <br>
            <br>
            <h4>Evaluación Final</h4>
            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3">
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaCurricular" name="tecnicaCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.tecnicaFormativa">
                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-newspaper"></i> Técnica
                                Formativa</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumentoCurricular" name="instrumentoCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoFormativa">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-wrench"></i> Instrumento
                                Formativo</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="almacenarLista()"></p-button>
            </div>
            <!-- </form> -->
            <div class="card">
                <p-table [value]="listEvaluacionDiagnosticaCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>TÉCNICA FORMATIVA FINAL <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                            </th>
                            <th>INSTRUMENTO FORMATIVO FINAL <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th scope="col">Quitar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaFormativa }}</td>
                            <td>{{ data.instrumnetoFormativa }}</td>
                            <td><button pButton type="button" class="p-button-rounded p-button-danger"
                                    icon="pi pi-times" (click)="quitarElemento(data.tecnicaCurricular)"></button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-card>


        <p-card header="Entorno de Aprendizaje " class="m-5">
            <!-- <form novalidate> -->
            <div class="grid p-fluid m-3">
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">

                            <input type="text" pInputText id="tecnicaCurricular" name="tecnicaCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.tecnicaFormativa">
                            <label htmlFor="username"> <i class="icono fas fa-duotone fa-wrench"></i>
                                Instalación</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumentoCurricular" name="instrumentoCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoFormativa">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-book"></i> Fase Teórica</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="instrumentoCurricular" name="instrumentoCurricular"
                                [(ngModel)]="evaluacionDiagnosticoCurricular.instrumnetoFormativa">
                            <label htmlFor="username"><i class="icono fas fa-duotone fa-business-time"></i> Fase Práctica</label>
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="almacenarLista()"></p-button>
            </div>
            <!-- </form> -->

            <div class="card">
                <p-table [value]="listEvaluacionDiagnosticaCurricular">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>INSTALACIÓN <h6 class="icono fas fa-duotone fa-wrench"></h6>
                            </th>
                            <th>FASE TEÓRICA <h6 class="icono fas fa-duotone fa-book"></h6>
                            </th>
                            <th>FASE PRÁCTICA <h6 class="icono fas fa-duotone fa-business-time"></h6>
                            </th>
                            <th scope="col">Quitar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.tecnicaFormativa }}</td>
                            <td>{{ data.instrumnetoFormativa }}</td>
                            <td>ASDASDASDASDA</td>
                            <td><button pButton type="button" class="p-button-rounded p-button-danger"
                                    icon="pi pi-times" (click)="quitarElemento(data.tecnicaCurricular)"></button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>


        </p-card>


    </p-panel>
</div>