<div class="card flex justify-content-center">
    <p-panel header="Silabo">
        <!-- <div class="col-md-12" style="text-align: right; margin: 5px;">
            <p-button label="Traer Datos" icon="pi pi-pencil" styleClass="p-button-success  mb-2"
                (onClick)="traerDatos()"></p-button>
        </div> -->
        <p-card header="Informacion General del Curso" style="margin: 5px;" *ngIf='validarIdSilabo == false'>
            <div class="grid" >
                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Area:</strong> {{ curso!.especialidad?.area?.nombreArea }}</p>
                        <p><strong>Nombre del Curso:</strong> {{curso!.nombreCurso }}</p>
                        <p><strong>Fecha de Inicio</strong> {{ curso!.fechaInicioCurso }}</p>
                        <p><strong>Número de Cupos:</strong> {{curso!.numeroCuposCurso }}</p>
                        <p><strong>Docente Responsable:</strong> {{curso!.capacitador?.tipoAbreviaturaTitulo + '.' +
                            curso!.capacitador?.usuario?.persona?.nombre1 }} {{
                            curso!.capacitador?.usuario?.persona?.nombre2 }} {{
                            curso!.capacitador?.usuario?.persona?.apellido1 }} {{
                            curso!.capacitador?.usuario?.persona?.apellido2 }}</p>
                    </div>
                </div>
                <div class="col-5 flex justify-content-center">
                    <div style="float: left;">
                        <p><strong>Horario:</strong> {{curso!.horarioCurso?.horaInicio + ' a ' +
                            curso.horarioCurso?.horaFin}}</p>
                        <p><strong>Código del curso: </strong> {{ curso!.especialidad?.codigoEspecialidad }}</p>
                        <p><strong>Fecha de Finalización:</strong> {{ curso!.fechaFinalizacionCurso }}</p>
                        <p><strong>Horas del curso:</strong> {{curso!.duracionCurso}}</p>
                        <p><strong>Modalidad:</strong> {{ curso!.modalidadCurso?.nombreModalidadCurso }}</p>
                    </div>
                </div>
            </div>
        </p-card>
        <p-card header="Prerrequisitos" class="m-5" *ngIf='validarIdSilabo == false'>
            <div>
                <ul *ngFor="let lista of listprerrequisitosCurso" > 
                    <li>{{lista.nombrePrerequisitoCurso}}</li>
                </ul>
            </div>
        </p-card>
        <p-card header="Descripción del Curso" class="m-5" *ngIf='validarIdSilabo == false'>
            <p class="m-0">
                {{ curso!.descripcionCurso }}
            </p>
        </p-card>
        <p-card header="Objetivos del Curso" class="m-5" *ngIf='validarIdSilabo == false'>
            <p class="m-0">
                {{ curso!.objetivoGeneralesCurso }}
            </p>
        </p-card>
        <!-- PRIMER FORM -->
        <p-card header="Resultados de Aprendizaje" class="m-5">
            <form class="needs-validation" novalidate >
                <div class="grid p-fluid m-3" *ngIf='validarIdSilabo == false'>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="temaUnidadSilabo" name="temaUnidadSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.temaUnidadSilabo" required>
                                <label htmlFor="username">Unidades de Competencia
                                    <label style="color: rgb(255, 0, 0); padding-left: 2px"> *</label>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="elementosCompetenciaSilabo"
                                    name="elementosCompetenciaSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.elementosCompetenciaSilabo" required>
                                <label htmlFor="username">Elementos de Competencia 
                                    <label style="color: rgb(255, 0, 0); padding-left: 2px"> *</label></label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="activadesResultadoAprendizaje"
                                    name="activadesResultadoAprendizaje"
                                    [(ngModel)]="resultadoAprendizajeSilabo.activadesResultadoAprendizaje" required>
                                <label htmlFor="username">Resultados de Aprendizaje
                                    <label style="color: rgb(255, 0, 0); padding-left: 2px"> *</label>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="formaEvidenciar" name="formaEvidenciar"
                                    [(ngModel)]="resultadoAprendizajeSilabo.formaEvidenciar" required>
                                <label htmlFor="username">Forma de evidenciar
                                    <label style="color: rgb(255, 0, 0); padding-left: 2px"> *</label>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="descripcionUnidadSilabo" name="descripcionUnidadSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.descripcionUnidadSilabo">
                                <label htmlFor="username">Descripción</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == false'>
                    <p-button type="submit" label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                        (click)="almacenarLista()"></p-button>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == true'>
                    <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="showModalCreate()"></p-button>
                </div>
            </form>
            <!-- TERMINA EL PRIMER FORM -->
            <div class="card">
                <p-table [value]="listResultadosAprendizajes">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Unidades de Competencia</th>
                            <th>Elementos de Competencia</th>
                            <th>Resultados de Arendizaje</th>
                            <th>Forma de Evidenciar</th>
                            <th>Descripción </th>
                            <th scope="col">Quitar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-columns="columns" let-data>
                        <tr>
                            <td>{{ data.temaUnidadSilabo }}</td>
                            <td>{{ data.elementosCompetenciaSilabo }}</td>
                            <td>{{ data.activadesResultadoAprendizaje }}</td>
                            <td>{{ data.formaEvidenciar }}</td>
                            <td>{{ data.descripcionUnidadSilabo }}</td>
                            <td *ngIf='validarIdSilabo == false'>
                                <button pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times" (click)="quitarElemento(data.temaUnidadSilabo)"></button>
                            </td>
                            <td *ngIf='validarIdSilabo == true'>
                                <!-- <button *ngIf='data.idResultadoAprendizajeSilabo == 0' pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times" (click)="quitarElemento(data.idResultadoAprendizajeSilabo)"></button> -->
                                <button *ngIf='data.estadoUnidadActivo == true' pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check-circle" style="margin-right: 5px;" (click)="cambiarEstadoResultadosAprensizajeFalse(data.idResultadoAprendizajeSilabo)"></button>
                                <button *ngIf='data.estadoUnidadActivo == false' pButton type="button" class="p-button-rounded p-button-danger" style="margin-right: 5px;" icon="pi pi-power-off" (click)="cambiarEstadoResultadosAprensizajeTrue(data.idResultadoAprendizajeSilabo)"></button>
                                <button pButton type="button" (click)="showModalEdit(data.idResultadoAprendizajeSilabo)" class="p-button-rounded p-button-info" icon="pi pi-pencil" style="margin-right: 5px;"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <!-- PRIMER FORM + MODAL -->
        <p-dialog header="Resultados de Aprendizaje Silabo" [(visible)]="visible" [modal]="true"  [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
            <div class="col-12 md:col-12 mt-1">
                <div class="grid p-fluid m-3">
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="temaUnidadSilabo" name="temaUnidadSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.temaUnidadSilabo">
                                <label htmlFor="username">Unidades de Competencia</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="elementosCompetenciaSilabo"
                                    name="elementosCompetenciaSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.elementosCompetenciaSilabo">
                                <label htmlFor="username">Elementos de Competencia</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="activadesResultadoAprendizaje"
                                    name="activadesResultadoAprendizaje"
                                    [(ngModel)]="resultadoAprendizajeSilabo.activadesResultadoAprendizaje">
                                <label htmlFor="username">Resultados de Aprendizaje</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="formaEvidenciar" name="formaEvidenciar"
                                    [(ngModel)]="resultadoAprendizajeSilabo.formaEvidenciar">
                                <label htmlFor="username">Forma de evidenciar</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="descripcionUnidadSilabo" name="descripcionUnidadSilabo"
                                    [(ngModel)]="resultadoAprendizajeSilabo.descripcionUnidadSilabo">
                                <label htmlFor="username">Descripción</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                        (click)="actualizarResultadosEstrategia()"></p-button>
                </div>
            </div>
        </p-dialog>
        <!-- PRIMER FORM + MODAL FIN-->

        <!-- SECOND FORM -->
        <p-card header="Contenidos del Curso" class="m-5">
                <div class="grid p-fluid m-5" *ngIf='validarIdSilabo == false'>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="diaContenido" name="diaContenido"
                                    [(ngModel)]="contenidosSilabo.diaContenido">
                                <label htmlFor="username">Día</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="temaContenido" name="temaContenido"
                                    [(ngModel)]="contenidosSilabo.temaContenido">
                                <label htmlFor="username">Contenidos</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesDocencia" name="actividadesDocencia"
                                    [(ngModel)]="contenidosSilabo.actividadesDocencia">
                                <label htmlFor="username">Actividades de Docencia</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasClaseContenido" name="horasClaseContenido" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasClaseContenido"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesPracticas" name="actividadesPracticas"
                                    [(ngModel)]="contenidosSilabo.actividadesPracticas">
                                <label htmlFor="username">Actividades Prácticas</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasPracticas" name="horasPracticas" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasPracticas"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesAutonomas" name="actividadesAutonomas"
                                    [(ngModel)]="contenidosSilabo.actividadesAutonomas">
                                <label htmlFor="username">Actividades de Trabajo autónomo</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasAutonomas" name="horasAutonomas" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasAutonomas"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="nombre" name="nombre"
                                    [(ngModel)]="contenidosSilabo.observaciones">
                                <label htmlFor="username">Observaciones</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == false'>
                    <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                        (onClick)="almacenarListaContenidos()"></p-button>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == true'>
                    <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                    (click)="showModalCreateContenidos()"></p-button>
                </div>
            <div class="card">
                <p-table [value]="listContenidosSilabo">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Dia</th>
                            <th>Contenidos</th>
                            <th>Actividades de Docencia</th>
                            <th>Actividades Prácticas</th>
                            <th>Actividades de Trabajo autónomo</th>
                            <th>Observaciones </th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-columns="columns" let-rowData>
                        <tr>
                            <td>{{ rowData.diaContenido }}</td>
                            <td>{{ rowData.temaContenido }}</td>
                            <td>{{ rowData.actividadesDocencia }} <Strong>Horas: </Strong> {{rowData.horasClaseContenido }}</td>
                            <td>{{ rowData.actividadesPracticas }} <Strong>Horas: </Strong> {{ rowData.horasPracticas }}</td>
                            <td>{{ rowData.actividadesAutonomas }} <Strong>Horas: </Strong> {{ rowData.horasAutonomas }}</td>
                            <td>{{ rowData.observaciones }}</td>
                            <td *ngIf='validarIdSilabo == false'>
                                <button pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times" (click)="quitarElementoContenido(rowData.temaContenido)"></button>
                            </td>
                            <td *ngIf='validarIdSilabo == true'>
                                <button *ngIf='rowData.estadoContenido == true' pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check-circle" style="margin-right: 5px;" (click)="cambiarEstadosContenidosFalse(rowData.idContenidoSilabo)"></button>
                                <button *ngIf='rowData.estadoContenido == false' pButton type="button" class="p-button-rounded p-button-danger" style="margin-right: 5px;" icon="pi pi-power-off" (click)="cambiarEstadosContenidosTrue(rowData.idContenidoSilabo)"></button>
                                <button pButton type="button" (click)="showModalEditContenidos(rowData.idContenidoSilabo)" class="p-button-rounded p-button-info" icon="pi pi-pencil" style="margin-right: 5px;"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
        <!-- SECOND FORM + MODAL-->
        <p-dialog header="Contenidos del Curso" [(visible)]="visibleTree" [modal]="true"  [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
            <div class="col-12 md:col-12 mt-1">
                <div class="grid p-fluid m-5">
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="diaContenido" name="diaContenido"
                                    [(ngModel)]="contenidosSilabo.diaContenido">
                                <label htmlFor="username">Día</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="temaContenido" name="temaContenido"
                                    [(ngModel)]="contenidosSilabo.temaContenido">
                                <label htmlFor="username">Contenidos</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesDocencia" name="actividadesDocencia"
                                    [(ngModel)]="contenidosSilabo.actividadesDocencia">
                                <label htmlFor="username">Actividades de Docencia</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasClaseContenido" name="horasClaseContenido" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasClaseContenido"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesPracticas" name="actividadesPracticas"
                                    [(ngModel)]="contenidosSilabo.actividadesPracticas">
                                <label htmlFor="username">Actividades Prácticas</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasPracticas" name="horasPracticas" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasPracticas"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="actividadesAutonomas" name="actividadesAutonomas"
                                    [(ngModel)]="contenidosSilabo.actividadesAutonomas">
                                <label htmlFor="username">Actividades de Trabajo autónomo</label>
                                <p-inputNumber class="ml-5" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                    id="horasAutonomas" name="horasAutonomas" [min]="0" [max]="100"
                                    [(ngModel)]="contenidosSilabo.horasAutonomas"> </p-inputNumber>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="nombre" name="nombre"
                                    [(ngModel)]="contenidosSilabo.observaciones">
                                <label htmlFor="username">Observaciones</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Crear Nuevo" icon="pi pi-check-square" styleClass="p-button-success  mb-2" (onClick)="metodoElejidoContenidos()"></p-button>
                </div>
            </div>
        </p-dialog>
        <!-- FIN SECOND FORM + MODAL-->
        <!-- FIN CONTENIDOS -->

        <!-- ESTRATEGIAS -->
        <p-card header="Estrategias Metodologicas" class="m-5">
            <form novalidate>
                <div class="grid p-fluid m-3" *ngIf='validarIdSilabo == false'>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="nombreEstrategiaMetodologica"
                                    name="nombreEstrategiaMetodologica"
                                    [(ngModel)]="estrategiasMetodologicas.nombreEstrategiaMetodologica">
                                <label htmlFor="username">Nombre estrategia</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="finalidadEstrategiaMetodologica"
                                    name="finalidadEstrategiaMetodologica"
                                    [(ngModel)]="estrategiasMetodologicas.finalidadEstrategiaMetodologica">
                                <label htmlFor="finalidadEstrategiaMetodologica">Finalidad</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == false'>
                    <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                        (onClick)="almacenarListaEstrategias()"></p-button>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == true'>
                    <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                        (onClick)="showModalCreateEstretegias()"></p-button>
                </div>
            </form>
            <div class="card">
                <p-table [value]="listEstrategiasMetodologica">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Nombre estrategia</th>
                            <th>Finalidad</th>
                            <th>Opciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>{{ rowData.nombreEstrategiaMetodologica }}</td>
                            <td>{{ rowData.finalidadEstrategiaMetodologica }}</td>
                            <td *ngIf='validarIdSilabo == false'>
                                <button  pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times"(click)="quitarElementoEstrategias(rowData.nombreEstrategiaMetodologica)"></button>
                            </td>
                            <td *ngIf='validarIdSilabo == true'>
                                <button *ngIf='rowData.estadoEstrategiaMetodologicaActivo == true' pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check-circle" style="margin-right: 5px;" (click)="cambiarEstadosEstrategiasFalse(rowData.idEstrategiaMetodologica)"></button>
                                <button *ngIf='rowData.estadoEstrategiaMetodologicaActivo == false' pButton type="button" class="p-button-rounded p-button-danger" style="margin-right: 5px;" icon="pi pi-power-off" (click)="cambiarEstadosEstrategiasTrue(rowData.idEstrategiaMetodologica)"></button>
                                <button pButton type="button" (click)="showModalEditEstretegias(rowData.idEstrategiaMetodologica)" class="p-button-rounded p-button-info" icon="pi pi-pencil" style="margin-right: 5px;"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>

        
        <p-dialog header="Contenidos del Curso" [(visible)]="visibleSixe" [modal]="true"  [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
            <div class="grid p-fluid m-5">
                <div class="col-12 md:col-12 mt-1">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="nombreEstrategiaMetodologica"
                                name="nombreEstrategiaMetodologica"
                                [(ngModel)]="estrategiasMetodologicas.nombreEstrategiaMetodologica">
                            <label htmlFor="username">Nombre estrategia</label>
                        </span>
                    </div>
                </div>
                <div class="col-12 md:col-12 mt-2">
                    <div class="p-inputgroup">
                        <span class="p-float-label">
                            <input type="text" pInputText id="finalidadEstrategiaMetodologica"
                                name="finalidadEstrategiaMetodologica"
                                [(ngModel)]="estrategiasMetodologicas.finalidadEstrategiaMetodologica">
                            <label htmlFor="username">Finalidad</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                        (click)="metodoElejidoEstrategias()"></p-button>
                </div>
            </div>
    </p-dialog>

        <!-- FIN ESTRATEGIAS -->

        <p-card header="Recursos Didacticos" class="m-5">
            <!-- UNO -->
            <p-card header="Materiales Convecionales" class="m-5">
                <form class="needs-validation" novalidate>
                <div class="p-fluid m-4" *ngIf='validarIdSilabo == false'>
                    <span class="p-float-label">
                        <input type="text" pInputText id="nombre" name="nombre"
                        [(ngModel)]="materialesConvecionales.descripcionMaterialConvencional" required>
                        <label class="form-label" htmlFor="username">Descripción</label>
                    </span>
                </div>
                <div>
                    <ul *ngFor="let lista of listMaterialConvencionales" > 
                        <li>{{lista.descripcionMaterialConvencional}} 
                            <button *ngIf='validarIdSilabo == false' pButton type="button" class="p-button-rounded p-button-danger" style="height: 10px; width: 25px;" (click)="quitarElementoMateriales(lista.descripcionMaterialConvencional)" icon="pi pi-times" ></button>
                            <button *ngIf='validarIdSilabo == true' pButton type="button" class="p-button-rounded p-button-info" style="height: 10px; width: 25px;" (click)="showModalEditConvencionales(lista.idMaterialConvencional!)" icon="pi pi-pencil" ></button>
                            <div *ngIf='validarIdSilabo == true'>
                            <button *ngIf='lista.estadoMaterialConvencional == true' pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check-circle" style="margin-right: 5px; height: 10px; width: 25px;" (click)="cambiarEstadosConvencionalFalse(lista.idMaterialConvencional)"></button>
                            <button *ngIf='lista.estadoMaterialConvencional == false' pButton type="button" class="p-button-rounded p-button-danger" style="margin-right: 5px; height: 10px; width: 25px;" icon="pi pi-power-off" (click)="cambiarEstadosConvencionalTrue(lista.idMaterialConvencional)"></button>
                            </div>
                        </li>
                    </ul>
                </div>
                    <div class="col-md-12" style="text-align: center; margin: 8px;" *ngIf='validarIdSilabo == false'>
                        <p-button type="submit" label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                            (onClick)="almacenarListaMaterialConvencionales()"></p-button>
                    </div>

                    <div class="col-md-12" style="text-align: center; margin: 8px;" *ngIf='validarIdSilabo == true'>
                        <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                            (onClick)="showModalCreateConvencionales()"></p-button>
                    </div>
                </form>
            </p-card>

            
            <p-dialog header="Contenidos del Curso" [(visible)]="visibleSeven" [modal]="true"  [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
                    <div class="grid p-fluid m-5">
                        <div class="col-12 md:col-12 mt-1">
                            <div class="p-inputgroup">
                                <span class="p-float-label">
                                    <input type="text" pInputText id="nombre" name="nombre"
                                    [(ngModel)]="materialesConvecionales.descripcionMaterialConvencional">
                                    <label htmlFor="username">Descripción</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: center; margin: 5px;">
                            <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                                (click)="opcionAEnviar()"></p-button>
                        </div>
                    </div>
            </p-dialog>
        
            <!-- DOS -->
            <p-card header="Materiales Audiovisuales" class="m-5">
                <div class="p-fluid m-4" *ngIf='validarIdSilabo == false'>
                    <span class="p-float-label">
                        <input type="text" pInputText id="nombre" name="nombre"
                            [(ngModel)]="materialesAudiovisuales.descripcionMaterialAudiovisual">
                        <label htmlFor="username">Descripción</label>
                    </span>
                </div>
                <div>
                    <ul *ngFor="let lista of listCMaterialAudiovisuales" > 
                        <li>{{lista.descripcionMaterialAudiovisual}} 
                            <button *ngIf='validarIdSilabo == false' pButton type="button" class="p-button-rounded p-button-danger" style="height: 10px; width: 25px;" (click)="quitarElementoConvencional(lista.descripcionMaterialAudiovisual)" icon="pi pi-times" ></button>
                            <button *ngIf='validarIdSilabo == true' pButton type="button" class="p-button-rounded p-button-info" style="height: 10px; width: 25px;" (click)="showModalEditAudivisuales(lista.idMaterialAudiovisual!)" icon="pi pi-pencil" ></button>
                            <div *ngIf='validarIdSilabo == true'>
                                <button *ngIf='lista.estadoMaterialAudiovisual == true' pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check-circle" style="margin-right: 5px; height: 10px; width: 25px;" (click)="cambiarEstadosAudiovisualesFalse(lista.idMaterialAudiovisual)"></button>
                                <button *ngIf='lista.estadoMaterialAudiovisual == false' pButton type="button" class="p-button-rounded p-button-danger" style="margin-right: 5px; height: 10px; width: 25px;" icon="pi pi-power-off" (click)="cambiarEstadosAudiovisualesTrue(lista.idMaterialAudiovisual)"></button>
                                </div>
                        </li>
                    </ul>
                </div>
                    <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == false'>
                        <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                            (onClick)="almacenarListaMaterialAudiovisualess()"></p-button>
                    </div>

                    <div class="col-md-12" style="text-align: center; margin: 5px;" *ngIf='validarIdSilabo == true'>
                        <p-button label="Agregar" icon="pi pi-plus" styleClass="p-button-success  mb-2"
                            (onClick)="showModalCreateAudivisuales()"></p-button>
                    </div>
            </p-card>
        </p-card>

        <p-dialog header="Contenidos del Curso" [(visible)]="visibleFive" [modal]="true"  [style]="{ width: '50vw', height: '450' }" [draggable]="false" [resizable]="false">
                <div class="grid p-fluid m-5">
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="nombre" name="nombre"
                                    [(ngModel)]="materialesAudiovisuales.descripcionMaterialAudiovisual">
                                <label htmlFor="username">Descripción</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin: 5px;">
                        <p-button label="Actualizar" icon="pi pi-check-square" styleClass="p-button-success  mb-2"
                            (click)="actualizarAudiovisual()"></p-button>
                    </div>
                </div>
        </p-dialog>

        <!-- DATOS PRPIOS DEL SILABO -->
        <div class="grid p-fluid">
            <div class="col-12 md:col-12 mt-2" style="align-items: center;">
                <div class="card flex justify-content-center">
                    <span class="p-float-label m-4">
                        <textarea id="float-input" rows="5" cols="30" pInputTextarea
                            [(ngModel)]="silabo.bibliografia"></textarea>
                        <label for="float-input">Bibliografía</label>
                    </span>
                </div>
            </div>
        </div>

        <p-card header="Elaboración, Revisión Y Aprobación" class="m-5">
            <form novalidate>
                <div class="grid p-fluid m-3">
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="campoFormacion" name="campoFormacion"
                                    [(ngModel)]="silabo.campoFormacion">
                                <label htmlFor="username">Campo Formación del Silabo</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-1">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="campoRevisadoPor" name="campoRevisadoPor"
                                    [(ngModel)]="silabo.campoRevisadoPor">
                                <label htmlFor="username">Nombre del revisador</label>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 mt-2">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="campoAprovadoPor" name="campoAprovadoPor"
                                    [(ngModel)]="silabo.campoAprovadoPor">
                                <label htmlFor="username">Nombre del aprobador</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Generar Silabo" icon="pi pi-book" styleClass="p-button-success  mb-2"
                        (onClick)="generarSilabo()"></p-button>
                </div>
<!-- 
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Generar PDF" icon="pi pi-file-pdf" styleClass="p-button-danger  mb-2"
                        (onClick)="getReportSilabo()"></p-button>
                </div> -->

                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button label="Diseño curricular" icon="pi pi-file-pdf" styleClass="p-button-primary  mb-2"
                        (onClick)="verDisenioCurricular()"></p-button>
                </div>
            </form>
        </p-card>