<!DOCTYPE html>
<head>
  <link href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/css/bootstrap-switch.css' rel='stylesheet' type='text/css'>
  <link href='https://davidstutz.github.io/bootstrap-multiselect/css/bootstrap-multiselect.css' rel='stylesheet' type='text/css'>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js' type='text/javascript'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/1.8/js/bootstrap-switch.min.js' type='text/javascript'></script>
  <script src='https://davidstutz.github.io/bootstrap-multiselect/js/bootstrap-multiselect.js' type='text/javascript'></script>
</head>
<body>
  <div class='container'>
    <div class='panel panel-primary dialog-panel'>
      <div class='panel-heading'>
    
        <h5>FORMULARIO DE PROGRAMA</h5>

      </div>
      <div class='panel-body'>
        <form class='form-horizontal' role='form'>
          
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='cod_curso'>Nombre:</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control' id='abrevia' type='text'>
                </div>
              </div>
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='cod_curso'>Periodo:</label>
            <div class='col-md-6'>
              <div class='form-group'>
                <div class='col-md-11'>
                  <input class='form-control' id='abrevia' type='text'>
                </div>
              </div>
            </div>
          </div>

          
   

          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_checkin' >Fecha Inicio:</label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' id='id_checkin' type="date">
                  <span class='input-group-addon'>
             
                  </span>
                </div>
              </div>
              <label class='control-label col-md-2' for='id_checkout'>Fecha Fin:</label>
              <div class='col-md-3'>
                <div class='form-group internal input-group'>
                  <input class='form-control datepicker' id='id_checkout' type="date">
                  <span class='input-group-addon'>
                   
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_equipment'>Estado:</label>
            <div class='col-md-8'>
              <div class='col-md-3'>
                <div class='form-group internal'>
                  <select class='form-control' id='id_equipment'>
                    <option>Seleccione</option>
                    <option>Fifth wheel</option>
                    <option>RV/Motorhome</option>
                    <option>Tent trailer</option>
                    <option>Pickup camper</option>
                    <option>Camper van</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        
        
          <div class='form-group'>
            <label class='control-label col-md-2 col-md-offset-2' for='id_comments'>Observacion:</label>
            <div class='col-md-6'>
              <textarea class='form-control' id='id_comments' placeholder='Additional comments' rows='3'></textarea>
            </div>
          </div>

          
          <div class='container'>
            <div class="abs-center">
            <button class="btn-lg btn-primary" type="button">Guardar</button>
           
            <button class="btn-lg btn-danger" type="button">Cancelar</button>
          </div>
          </div>

          
        </form>

        
      </div>
      <table class="table">
        <thead >
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">IdPrograma</th>
            <th scope="col">IdUsuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Periodo</th>
            <th scope="col">Fecha-Inicio</th>
            <th scope="col">Fecha-Fin</th>
            <th scope="col">Estado</th>
            <th scope="col">Observacion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
          
            <td>
              <a th:href="@{/clientes/editar/{id}(id=${cliente.id_cliente})}" class="btn btn-info" >Editar</a>
              <a th:href="@{/clientes/{id}(id=${cliente.id_cliente})}" class="btn btn-danger" >Eliminar</a>
            </td>
          </tr>
       
         
          
        </tbody>
      </table>
    </div>
    
    



  </div>

 
</body>
