<div class="card flex justify-content-center">

  <p-panel header="PROGRAMA">
      <p-card header="Periodo del Programa " class="m-5">
          <h4>Ingrese </h4>
          <form novalidate>
              <div class="grid p-fluid m-5">
                  <div class="col-12 md:col-12">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-newspaper"></i></span>
                          <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Estado del Periodo" id="nombre"
                              name="nombre"
                              onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                              required>
                      </div>
                  </div>
                  <div class="col-12 md:col-12">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-lightbulb"
                                  style="--fa-primary-color: #000000; --fa-secondary-color: #fff700;"></i></span>
                          <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Fecha Inicio" id="nombre"
                              name="nombre"
                              onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                              required>
                      </div>
                  </div>

                  <div class="col-12 md:col-12">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-lightbulb"
                                style="--fa-primary-color: #000000; --fa-secondary-color: #fff700;"></i></span>
                        <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Fecha Fin" id="nombre"
                            name="nombre"
                            onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                            required>
                    </div>
                </div>

                <div class="col-12 md:col-12">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-lightbulb"
                              style="--fa-primary-color: #000000; --fa-secondary-color: #fff700;"></i></span>
                      <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Nombre del Periodo" id="nombre"
                          name="nombre"
                          onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                          required>
                  </div>
              </div>

              </div>
              <div class="col-md-12" style="text-align: center; margin: 5px;">
                  <p-button label="Save" icon="pi pi-plus" styleClass="p-button-success  mb-2"></p-button>
              </div>
          </form>

          <div class="card">
              <p-table>
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th>ID <h6 class="icono fas fa-duotone fa-laptop"></h6>
                          </th>
                          <th>ESTADO PERIODO <h6 class="icono fas fa-duotone fa-newspaper"></h6>
                          </th>
                          <th>FECHA INICIO <h6 class="icono fas fa-duotone fa-wrench"></h6>
                          </th>
                          <th>FECHA FIN <h6 class="icono fas fa-duotone fa-wrench"></h6>
                          </th>
                          <th>NOMBRE PERIODO <h6 class="icono fas fa-duotone fa-wrench"></h6>
                          </th>
                      </tr>
                  </ng-template>
                
              </p-table>
          </div>
          <br>
          <br>
      
         
      </p-card>


      <p-card header="Programa " class="m-5">
          <form novalidate>
              <div class="grid p-fluid m-5">
                  <div class="col-12 md:col-12">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-wrench"></i></span>
                          <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Nombre" id="nombre"
                              name="nombre"
                              onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                              required>
                      </div>
                  </div>
                  <div class="col-12 md:col-12">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="icono fas fa-duotone fa-book"></i></span>
                          <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Estado" id="nombre"
                              name="nombre"
                              onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                              required>
                      </div>
                  </div>
                  <div class="col-12 md:col-12">
                      <div class="p-inputgroup">
                          <span class="p-inputgroup-addon"><i
                                  class="icono fas fa-duotone fa-business-time"></i></span>
                          <input type="text" pattern="[A-Za-z]+" pInputText placeholder="Descripcion" id="nombre"
                              name="nombre"
                              onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                              required>
                      </div>
                  </div>
              </div>
              <div class="col-md-12" style="text-align: center; margin: 5px;">
                  <p-button (Click)="Guardar(programa)" label="Save" icon="pi pi-plus" styleClass="p-button-success  mb-2"></p-button>
              </div>
          </form>
          <div class="card">
              <p-table [value]="programaslist">
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th>ID PROGRAMA <h6 class="icono fas fa-duotone fa-wrench"></h6>
                          </th>
                          <th>ID PERIODO <h6 class="icono fas fa-duotone fa-book"></h6>
                          </th>
                          <th>NOMBRE <h6 class="icono fas fa-duotone fa-business-time"></h6>
                          </th>
                          <th>ESTADO <h6 class="icono fas fa-duotone fa-business-time"></h6>
                          </th>
                          <th>DESCRIPCION <h6 class="icono fas fa-duotone fa-business-time"></h6>
                          </th>
                          <th>ACCIONES <h6 class="icono fas fa-duotone fa-business-time"></h6>
                          </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body"  let-prog let-i="index" let-columns="columns">
                    <tr>


                        <td> {{prog.idPrograma}} </td>
                        <td> {{prog.nombrePrograma}} </td>
                        <td> {{prog.descripcionPrograma}} </td>
                        <td> {{prog.estadoProgramaActivo}} </td>
                        <td> {{prog.periodoPrograma}} </td>
                        <td> 
                            <button type="button" class="btn btn-warning" >Editar</button>
                            <button type="button" class="btn btn-danger" style="margin-left: 10px;" >Eliminar</button>
    
                        </td>
                    </tr>
                </ng-template>
               
              </p-table>
          </div>

      </p-card>

  </p-panel>
</div>