<!--Cuando el usuario se logeado accede al menu principal-->
<!-- <div>
  <app-header></app-header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>



<div *ngIf="isResetPassword === true">
  <app-recuperar-contrasenia></app-recuperar-contrasenia>
</div> -->


<!-- <div *ngIf="isLogginPresent === false">
  <app-header></app-header>
</div>
<div *ngIf="isLogginPresent === true">
  <app-principal></app-principal>
</div> -->


<div *ngIf="isLogginPresent === false">
  <app-inicio></app-inicio>
</div>
<div *ngIf="isLogginPresent === true">
  <app-principal></app-principal>
</div>