<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style=" background: var(--light);">
    <!-- Brand Logo -->
    <a class="brand-link">
        <img src="./assets/img/cc.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-bold"><strong style="color: #246dec;">CContinuas</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="./assets/dist/img/user3-128x128.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{this.nameUserLoggin.toUpperCase()}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item" *ngFor="let item of listSidebar">
                    <a href="#" class="nav-link">
                        <i class="{{item.icono}}"></i>
                        <p class="ml-2">
                            {{item.titulo}}
                            <span [class]="'badge ' +(getBadgeStyle(item))+ ' ml-2'">{{item.submenu.length}}</span>
                            <i class="right fas fa-angle-left " style="margin-top: 0.2em;"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngFor="let subMenu of item.submenu">
                            <a [routerLink]="subMenu.path" class="nav-link" style="cursor: pointer;">
                                <i class="ml-1 {{subMenu.icono}}"></i>
                                <p class="ml-2">{{subMenu.titulo}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="logOut()">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p class="ml-2">
                            Salir
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>