<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="showModaL()"></button>

        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Imprimir" icon="pi pi-print" class="p-button-primary mr-2 inline-block"
                (click)="showModaLImprimirMensal()"></button>

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listaProgramasFilter" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"  responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} programas"
        [filterDelay]="0" 
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0"><strong>PROGRAMAS DE CAPACITACIÓN</strong></h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (input)="filterTableProgramasCapacitacion($event)"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th pSortableColumn="nombrePrograma"><strong>NOMBRE PROGRAMA</strong><p-sortIcon field="nombrePrograma"></p-sortIcon>
                </th>
                <th pSortableColumn="periodoPrograma.fechaInicioPeriodoPrograma"><strong>FECHA INICIO</strong> <p-sortIcon
                        field="periodoPrograma.fechaInicioPeriodoPrograma"></p-sortIcon></th>
                <th pSortableColumn="periodoPrograma.fechaFinPeriodoPrograma"><strong>FECHA FIN</strong> <p-sortIcon field="periodoPrograma.fechaFinPeriodoPrograma"></p-sortIcon></th>
                <th pSortableColumn="periodoPrograma.nombrePeriodoPrograma"><strong>PERÍODO</strong><p-sortIcon field="periodoPrograma.nombrePeriodoPrograma"></p-sortIcon></th>
                <th pSortableColumn="descripcionPrograma"><strong>DESCRIPCIÓN </strong><p-sortIcon field="descripcionPrograma"></p-sortIcon></th>
                <!-- <th pSortableColumn="inventoryStatus">Estado <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                <th pSortableColumn="estadoProgramaActivo">
                    <div class="flex justify-content-between align-items-center">
                        <strong>ESTADO</strong>

                        <p-columnFilter type="boolean" field="estadoProgramaActivo" display="menu"></p-columnFilter>

                    </div>
                </th>
                <th pSortableColumn="inventoryStatus"><strong>GESTIÓN</strong> <p-sortIcon field="inventoryStatus"></p-sortIcon></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-programa>
            <tr>

                <td>{{programa.nombrePrograma}}</td>
                <td>{{programa.periodoPrograma.fechaInicioPeriodoPrograma}}</td>
                <td>{{programa.periodoPrograma.fechaFinPeriodoPrograma}}</td>
                <td>{{programa.periodoPrograma.nombrePeriodoPrograma}}</td>
                <td>{{programa.descripcionPrograma}}</td>
                <td>
                    <p-message [severity]="programa.estadoProgramaActivo == true? 'success': 'warn'" [text]="programa.estadoProgramaActivo == true? 'Público': 'Oculto'" styleClass="mr-2"></p-message>  

                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 mt-1"
                        (click)="cargarDatos(programa)"></button>
                    <button pButton pRipple [icon]="programa.estadoProgramaActivo ? 'pi pi-check' : 'pi pi-trash'"
                        [class]="'p-button-rounded ' + (programa.estadoProgramaActivo ? 'p-button-primary' : 'p-button-warning') + ' mt-1'"
                        (click)="updateProgramasEliminadoLogico(programa)">
                    </button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{listaProgramas ? listaProgramas.length : 0 }} Registros de programas.
            </div>
        </ng-template>
    </p-table>
</div>



<!-- IMPLEMENTACION DEL MODAL PARA EL INGRESO DE LOS CURSOS -->

<p-dialog header="Programas de capacitación continua" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw', height: '250' }"
    [draggable]="false" [resizable]="false">
    <form (ngSubmit)="validarDatosProgramaCapacitacionContinua()" novalidate style="padding: 15px;">
        <div class="grid p-fluid m-2">
            <div class="col-12 md:col-12 mt-1">
                <div class="p-inputgroup">
                    <p-calendar inputId="edad" class="ng-dirty" [showIcon]="true" placeholder="Fecha inicio de curso"
                        id="fechaInicioPeriodoPrograma" name="fechaInicioPeriodoPrograma"
                        [(ngModel)]="classPeriodoPrograma.fechaInicioPeriodoPrograma" ></p-calendar>

                </div>
            </div>

            <div class="col-12 md:col-12 mt-1">
                <div class="p-inputgroup">

                    <p-calendar inputId="edad" class="ng-dirty" [showIcon]="true" placeholder="Fecha fin de curso"
                        id="fechaFinPeriodoPrograma" name="fechaFinPeriodoPrograma"
                        [(ngModel)]="classPeriodoPrograma.fechaFinPeriodoPrograma" ></p-calendar>

                </div>
            </div>
            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="nombrePeriodoPrograma"
                            name="nombrePeriodoPrograma" [(ngModel)]="classPeriodoPrograma.nombrePeriodoPrograma" required>
                        <label for="inputtext">Período del programa</label>
                    </span>
                </div>
            </div>

            <!-- Directamente del programa ya no del periodo program -->

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" pInputText id="nombrePrograma" name="nombrePrograma"
                            [(ngModel)]="classPrograma.nombrePrograma" required>
                        <label for="inputtext">Nombre del programa</label>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12 mt-2" style="align-items: center;">
                <div class="card flex justify-content-center">
                    <span class="p-float-label m-4">
                        <textarea id="float-input" rows="5" cols="30" pInputTextarea id="descripcionPrograma"
                            name="descripcionPrograma" [(ngModel)]="classPrograma.descripcionPrograma" required></textarea>
                        <label for="float-input">Descripción del programa</label>
                    </span>
                </div>
            </div>
            <!-- Fin del periodo porgrama -->
            <div class="col-md-12" style="text-align: center; margin: 5px;">
                <p-button type="ngSubmit" [label]="classPeriodoPrograma.idPeriodoPrograma? 'Actualizar Programa': 'Guardar Programa'" icon="pi pi-save"
                    styleClass="p-button-success  mb-2"></p-button>
            </div>
        </div>
    </form>
</p-dialog>



<!-- IMPLEMENTACION DEL MODAL PARA EL INGRESO DE LOS CURSOS -->

<p-dialog header="Reporte de programación mensual" [(visible)]="visiblePeriodoMensual" [modal]="true"
    [style]="{ width: '70vw', height: '250' }" [draggable]="false" [resizable]="false">
    <div class="grid p-fluid m-2">
        <div class="col-12 md:col-12 ">

            <div class="ui-g-12 ui-md-4">

                <p-calendar placeholder="Año y mes por el cual se mostrara el reporte" id="fechaEvidencia"
                    name="fechaEvidencia" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"
                    [readonlyInput]="true" [showIcon]="true" (onSelect)="onDateSelect($event)"></p-calendar>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!pdfSrc">

        <img src="../../../../assets/img/istap.png" alt="">


    </div>
    <div class="mx-2" *ngIf="pdfSrc">
        <embed style="border-radius: 10px; " [src]="pdfSrc" type="application/pdf" width="100%" height="500px" />
    </div>

    <div class="grid p-fluid m-1">
        <!-- Fin del periodo porgrama -->
        <div class="col-md-12" style="text-align: center; margin: 5px;">
            <p-button type="ngSubmit" label="Aceptar" icon="pi pi-check" styleClass="p-button-success  mb-2"></p-button>
        </div>
    </div>

</p-dialog>