<div class="">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="showModaL()"></button>

        </ng-template>


    </p-toolbar>

    <div class="p-grid p-fluid" *ngIf="listaProgramas.length > 0 && listChartProgramCourse.length >0">
        <div class="p-col-12 p-md-12 p-text-center mb-3">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [runOutsideAngular]="true"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
    </div>

    <p-table #dt [value]="listaProgramas" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" responsiveLayout="scroll" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} programas" [filterDelay]="0"
        [showCurrentPageReport]="true"
        [globalFilterFields]="['nombrePrograma','periodoPrograma.nombrePeriodoPrograma','descripcionPrograma']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0"><strong>PROGRAMAS DE CAPACITACIÓN</strong></h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Buscar..." pTooltip="Filtro" tooltipPosition="bottom" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombrePrograma"><strong>NOMBRE PROGRAMA</strong><p-sortIcon
                        field="nombrePrograma"></p-sortIcon>
                </th>
                <th pSortableColumn="periodoPrograma.nombrePeriodoPrograma"><strong>PERÍODO</strong><p-sortIcon
                        field="periodoPrograma.nombrePeriodoPrograma"></p-sortIcon></th>
                <th pSortableColumn="descripcionPrograma"><strong>DESCRIPCIÓN </strong><p-sortIcon
                        field="descripcionPrograma"></p-sortIcon></th>
                <th pSortableColumn="estadoProgramaActivo">
                    <div class="flex justify-content-between align-items-center">
                        <strong>ESTADO</strong>
                        <p-columnFilter type="boolean" field="estadoProgramaActivo" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="inventoryStatus"><strong>GESTIÓN</strong> <p-sortIcon
                        field="inventoryStatus"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-programa>
            <tr>
                <td>{{programa.nombrePrograma}}</td>
                <td>{{programa.periodoPrograma.nombrePeriodoPrograma}}</td>
                <td>{{programa.descripcionPrograma}}</td>
                <td>
                    <p-message [severity]="programa.estadoProgramaActivo == true? 'success': 'warn'"
                        [text]="programa.estadoProgramaActivo == true? 'Público': 'Oculto'"
                        styleClass="mr-2"></p-message>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 mt-1"
                        (click)="cargarDatos(programa)"></button>
                    <button pButton pRipple [icon]="programa.estadoProgramaActivo ? 'pi pi-check' : 'pi pi-trash'"
                        [class]="'p-button-rounded ' + (programa.estadoProgramaActivo ? 'p-button-primary' : 'p-button-warning') + ' mt-1'"
                        (click)="updateProgramasEliminadoLogico(programa)">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{listaProgramas ? listaProgramas.length : 0 }} Registros de programas.
            </div>
        </ng-template>
    </p-table>
</div>


<!-- IMPLEMENTACIÓN DEL MODAL PARA EL INGRESO DE LOS CURSOS -->
<p-dialog [(visible)]="visible" [style]="{ width: '450px' }" header="PROGRAMAS" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Período del programa</label>
            <input type="text" pInputText id="nombrePeriodoPrograma" name="nombrePeriodoPrograma"
                [(ngModel)]="classPeriodoPrograma.nombrePeriodoPrograma" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !classPrograma.nombrePrograma">Name is required.</small> -->
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="nombrePrograma" name="nombrePrograma"
                [(ngModel)]="classPrograma.nombrePrograma" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !classPrograma.descripcionPrograma">Name is required.</small> -->
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea pInputTextarea id="descripcionPrograma" name="descripcionPrograma"
                [(ngModel)]="classPrograma.descripcionPrograma" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button pRipple label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
            (click)="hideDialog()"></p-button>
        <p-button pRipple [label]="classPeriodoPrograma.idPeriodoPrograma? 'Actualizar': 'Guardar'" icon="pi pi-check"
            styleClass="p-button-outlined p-button-success"
            (click)="validarDatosProgramaCapacitacionContinua()"></p-button>
    </ng-template>
</p-dialog>