.loading-text {
    margin-top: 10px;
    font-size: 16px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.principal {
    height: 100vh;
}

.loading-text {
    font-size: 16px;
}

#loading-dots::after {
    content: '...';
    animation: dots 1.5s infinite;

}

@keyframes dots {

    0%,
    20% {
        content: '.';
    }

    40% {
        content: '..';
    }

    60% {
        content: '...';
    }
}

.custom-image-class {
    max-width: 100%;
    max-height: auto;
}


.colored {
    background-color: rgb(255, 252, 252);
}

.hover {

    transition: all 0.3s ease-out;
}

.hover:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(80, 49, 49, 0.2);
    background-color: #f6efef;
}

.hover:not(:hover) {
    transform: scale(1);
    box-shadow: none;
    background-color: transparent;
}