<div class=" px-4 py-3 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Autoridades</div>
    <div class="container ">
        <style>
            .h {
                transition: all 0.3s ease-out;
            }
    
    
            .h:hover {
                transform: scale(1.01);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                background-color: #ebeaea;
            }
        </style>
        <!-- <div class="grid"> -->
            
            <div class="col-12 lg:col-6">
                <div class="p-3 h-full">
                    <div class="shadow-8 p-3 h-full flex flex-column h card" style="border-radius: 6px">
                        <img src="https://www.tecazuay.edu.ec/assets/img/its/rector1.jpg" alt="Descripción de la imagen"
                            style="float: right; margin-left: 5px; width: 100%; ">

                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

                        <b class="mt-0 mb-4 text-700 line-height-3">Mgst. Miguel Yuctor
                            RECTOR
                        </b>
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">


                                <span class="text-900">La educación superior de nivel técnico y tecnológico es una oportunidad para transformar vidas, cambiar realidades y sobre todo aportar a las dinámicas territoriales de los sectores productivos y de servicios desde un enfoque del saber hacer. Estoy convencido de que, trabajando en conjunto, alcanzaremos grandes logros y dejaremos una huella perdurable.</span>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>

      
<!-- 
            <div class="col-12 lg:col-6">
                <div class="p-3 h-full">
                    <div class="shadow-8 p-3 h-full flex flex-column h card" style="border-radius: 6px">
                        <img src="https://www.tecazuay.edu.ec/assets/img/its/vicerrectora.jpg"
                            alt="Descripción de la imagen" style="float: right; margin-left: 5px; width: 100%; height: 100%;">

                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                        <b class="mt-0 mb-4 text-700 line-height-3">Mgst. Daniela Armijos
                            VICERRECTORA
                        </b>
                        <ul class="list-none p-0 m-0 flex-grow-1">
                            <li class="flex align-items-center mb-3">

                                <span class="text-900">Ser una plataforma líder en el mercado de cursos de capacitación,
                                    reconocida por nuestra calidad y variedad de cursos, y por ofrecer una experiencia
                                    de aprendizaje personalizada y accesible para nuestros estudiantes. Aspiramos a ser
                                    un recurso valioso y confiable para aquellos que buscan mejorar sus habilidades y
                                    conocimientos en una amplia variedad de áreas,
                                    desde liderazgo y gestión hasta tecnología y habilidades de comunicación.</span>
                            </li>


                        </ul>

                    </div>
                </div>
            </div> -->


        <!-- </div> -->
    </div>
</div>

<div class=" px-4  md:px-6 lg:px-8">
    <div class="text-900 font-bold text-6xl mb-4 text-center">Nuestra Institución</div>

    <div class="container2 ">
        <div class="grid">
            <div class="col-12 lg:col-12">
                <div class="p-3 h-full">
                    <div class="shadow-6 p-3 h-full flex flex-column h card" style="border-radius: 6px">
                        <hr class="my-3 mx-0 border-top-1 border-none surface-border" />

                        <div class="grid p-fluid m-2">
                            <div class="col-12 md:col-4 mt-2">
                                <b class="mt-0 mb-4 text-700 line-height-3">
                                    <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png"
                                        alt="Descripción de la imagen"
                                        style="max-width: 100%; height: auto; margin: 0 auto;">
                                </b>
                            </div>

                            <div class="col-12 md:col-1 mt-2"></div>
                            <div class="col-12 md:col-7 mt-2">

                                <ul class="list-none p-0 m-0 flex-grow-1">
                                    <li class="flex align-items-center mb-3">
                                        
                                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                        <span class="text-900">
                                            <h2 class="text-2xl font-semibold">Misión</h2> 
                                            El Instituto Superior Universitario Tecnológico del Azuay se
                                            consolida como una institución de educación superior que sustenta sus procesos de
                                            enseñanza-aprendizaje en el ámbito técnico y tecnológico de grado y posgrado, con la
                                            más alta calidad académica y humana, sobre la base de fundamentos científicos; con
                                            el propósito de proveer soluciones a los problemas y necesidades de la sociedad
                                            desde la docencia, la investigación científica y la vinculación.</span>
                                    </li>
                                    <li class="flex align-items-center mb-3">
                                       
                                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                                        <span class="text-900">
                                            <h2 class="text-2xl font-semibold">Visión</h2> 
                                            Ser una institución de calidad, solidaria, inclusiva,
                                            intercultural y diversa, reconocida por su excelencia académica y sus aportes a la
                                            sociedad en el área de la investigación, innovación tecnológica y vinculación, a
                                            nivel nacional e internacional, promoviendo el desarrollo integral de la persona y
                                            el entorno, en busca de una sociedad justa y equitativa.</span>
                                    </li>

                                </ul>
                       
                           
                     
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class=" px-4  md:px-6 lg:px-8">
   

    <div class="container2 ">
        <div class="grid">
            <div class="col-12 lg:col-12">
                <div class="p-3 h-full">
                    <div class="shadow-6 p-3 h-full flex flex-column h card" style="border-radius: 6px">
               

                        <div class="grid p-fluid m-2">
                       

                                    <img src="/assets/img/organigrama.png"
                                        alt="Descripción de la imagen"
                                        style="max-width: 80%; height: auto; margin: 0 auto;">
     
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="px-4 md:px-6 lg:px-8">
    <div class="container2">
        <div class="grid">
            <div class="col-12 lg:col-12">
                <div class="p-3 h-full">
                    <div class="shadow-6 p-3 h-full flex flex-column h card" style="border-radius: 6px">
                        <div class="section-about-us" id="principios">
                            <div class="col-md-12 ml-auto mr-auto text-center">
                                <h2 class="title">Principios</h2>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto text-center">
                                <p>Los principios por los cuales se rige la institución, señalados en la Constitución de la República y la Ley Orgánica de Educación Superior, son los siguientes:</p>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto text-center">
                               
                                    <ol type="a"> 
                                        <li> Cogobierno. </li>
                                        <li> Igualdad de oportunidades. </li>
                                        <li> Calidad. </li>
                                        <li> Pertinencia. </li>
                                        <li> Integralidad. </li>
                                        <li> Autodeterminación para la producción del pensamiento y conocimiento. </li>
                                        <li> Universalidad. </li>
                                        <li> Equidad. </li>
                                        <li> Progresividad. </li>
                                        <li> Interculturalidad. </li>
                                        <li> Solidaridad. </li>
                                        <li> Movilidad. </li>
                                        <li> Inclusión. </li>
                                        <li> Humanismo. </li>
                                        <li> Responsabilidad. </li>
                                        <li> Trabajo Colaborativo. </li>
                                    </ol>
                             
                            </div>
                            <div class="col-md-12 ml-auto mr-auto text-center">
                                <p>Estos principios se aplicarán bajo criterios de calidad, eficiencia, eficacia, transparencia, responsabilidad y participación. Los mecanismos para efectivizarlos se desarrollan en los artículos que conforman el presente Estatuto</p>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>