<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="showModaL()"></button>

        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Imprimir" icon="pi pi-print"
                class="p-button-primary mr-2 inline-block"></button>

            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listClassCapacitador" [rows]="5" [paginator]="true"
        [globalFilterFields]="['nombrePrograma','periodoPrograma.fechaInicioPeriodoPrograma','representative.name','status']"
        responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros fotograficos"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0"><strong>DOCENTES CAPACITADORES</strong></h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." (input)="filterGlobal($event)" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="nombrePrograma">NOMRBES <p-sortIcon field="nombrePrograma"></p-sortIcon></th>
                <th pSortableColumn="periodoPrograma">IDENTIFICASIÓN<p-sortIcon field="periodoPrograma"></p-sortIcon>
                </th>
                <th pSortableColumn="category">NOMBRE DE CUENTA<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="descripcionFoto">TITÚLO<p-sortIcon field="descripcionFoto"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">HOJA DE VIDA <p-sortIcon field="inventoryStatus"></p-sortIcon>
                </th>

                <th pSortableColumn="inventoryStatus">ESTADO <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">GÉSTION <p-sortIcon field="inventoryStatus"></p-sortIcon></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-capacit>
            <tr>

                <td>{{capacit.usuario.persona.nombre1}} {{capacit.usuario.persona.apellido1}}</td>
                <td>{{capacit.usuario.persona.identificacion}}</td>
                <td>{{capacit.usuario.username}}</td>
                <td>{{capacit.tituloCapacitador}}</td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-secondary" icon="pi pi-file"
                        (click)="showModaLHojaVidaCapacitador(capacit.idCapacitador)"></button>
                </td>
                <td>
                    <div class="estatus">
                        <span
                            [ngClass]="{'status-active': capacit.estadoActivoCapacitador, 'status-pending': !capacit.estadoActivoCapacitador}">
                            {{ capacit.estadoActivoCapacitador ? 'ACTIVO' : 'PENDIENTE' }}
                        </span>
                    </div>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 mt-1"
                        (click)="cargarDatosDocenteCapacitador(capacit)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mt-1"
                        (click)="eliminadoLogicoDelCapacitador(capacit)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{listClassCapacitador ? listClassCapacitador.length : 0 }} Capacitadores.
            </div>
        </ng-template>
    </p-table>
</div>





<!-- Creacion de usuario -->

<!-- IMPLEMENTACION DEL MODAL PARA EL INGRESO DE LOS CURSOS -->

<p-dialog header="Contenidos del Curso" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw', height: '250' }"
    [draggable]="false" [resizable]="false">
    <form (ngSubmit)="saveUpdateDocenteDocenteCapacitadorRol()" ngNativeValidate style="padding: 15px;">
        <div class="grid p-fluid m-2">

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="identificacion" name="identificacion"
                            [(ngModel)]="classPersona.identificacion">
                        <label for="inputtext">Identificación</label>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="nombre1" name="nombre1"
                            [(ngModel)]="classPersona.nombre1">
                        <label for="inputtext">Nombre</label>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="apellido1" name="apellido1"
                            [(ngModel)]="classPersona.apellido1">
                        <label for="inputtext">Apellido</label>
                    </span>
                </div>
            </div>

            <!-- Directamente del programa ya no del periodo program -->

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="username" name="username"
                            [(ngModel)]="classUsuario.username">
                        <label for="inputtext">Nombre de usuario</label>
                    </span>
                </div>
            </div>

            <div class="col-12 md:col-12 mt-2">
                <div class="p-inputgroup">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText id="password" name="password"
                            [(ngModel)]="classUsuario.password">
                        <label for="inputtext">Contraseña</label>
                    </span>
                </div>
            </div>

            <!-- ASIGNACION DE ROLES A LOS DOCENTES Y A LOS ESTUDIANTES -->

            <!-- <p-table [value]="listRole" class="horizontal-table" [rows]="1" [paginator]="false" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="header-cell">Roles</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                  <tr>
                    <td class="data-cell">
                      <div class="role-card">
                        <div class="role-icon">
                          <i class="pi pi-user"></i>
                        </div>
                        <div class="role-name">{{ role }}</div>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table> -->

            <div class="table-container card">
                <p-table [value]="listRole" class="role-table" [style]="{width: '100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-cell"><strong>NOMBRE ROL</strong></th>
                            <th class="header-cell"><strong>ROL ASIGNADO</strong></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-role>
                        <tr>
                            <td class="data-cell"><strong>{{ role.nombreRol }}</strong></td>
                            <td class="data-cell">
                                <button pButton label="Asignado" icon="pi pi-check" class="assign-button" type="button"
                                    (click)="asignarRolesUsuario(role)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>


            <!-- Fin del periodo porgrama -->
            <div class="col-md-12 mt-4" style="text-align: center; margin: 5px;">
                <p-button type="ngSubmit"
                    [label]="classCapacitador.idCapacitador? 'Actualizar Capacitador': 'Crear Capacitador'"
                    icon="pi pi-save" styleClass="p-button-success  "></p-button>
            </div>
        </div>
    </form>
</p-dialog>


<!-- IMPLEMENTACION DE HOJA DE VIDA PARA VISUALIZAR -->
<p-dialog
    header="{{classHojaDevida?.capacitador?.tipoAbreviaturaTitulo}} {{classHojaDevida?.capacitador?.usuario?.persona?.nombre1}} {{classHojaDevida?.capacitador?.usuario?.persona?.apellido1}} {{classHojaDevida.estadoAprobacion === 'A' ? ' - Aceptado' : classHojaDevida.estadoAprobacion === 'P' ? ' - Pendiente' : classHojaDevida.estadoAprobacion === 'R' ? ' - Rechazado' : ''}}"
    [(visible)]="visibleHojaVida" [modal]="true" [style]="{ width: '60vw', height: '650vm' }" [draggable]="false"
    [resizable]="false">


    <div class="mx-2" *ngIf="fileUrl">
        <embed style="border-radius: 10px; " [src]="fileUrl" type="application/pdf" width="100%" height="500px" />
    </div>

    <div class="mx-2" *ngIf="pdfSrc">
        <embed style="border-radius: 10px; " [src]="pdfSrc" type="application/pdf" width="100%" height="500px" />
    </div>

    <div class="mx-2" *ngIf="!fileUrl && !pdfSrc">
        <div class="container">
            Este docente capacitador no tiene hoja de vida
        </div>

    </div>

    <div class="grid p-fluid ">
        <div class="col-12 md:col-6 mt-1">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Aceptar'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="validarHojaDeVida(1)"></p-button>

                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 mt-1">
            <div class="p-inputgroup">
                <div class="col-md-12" style="text-align: center; margin: 5px;">
                    <p-button type="ngSubmit" [label]="'Rechazar'" icon="pi pi-save" styleClass="p-button-success  mb-2"
                        (onClick)="validarHojaDeVida(2)"></p-button>

                </div>
            </div>
        </div>
    </div>

</p-dialog>



<!-- //img -->