<div class="">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">

            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="limpiarCampos(); showModaL()" [disabled]="curso.estadoAprovacionCurso !== 'A'"></button>

        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Imprimir" icon="pi pi-print" class="p-button-primary mr-2 inline-block"
                (click)="getReportRegistroFotograficoCurso()" [disabled]="curso.estadoAprovacionCurso !== 'A'"></button>

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="listRegistroFotografico" [rows]="5" [paginator]="true"
        [globalFilterFields]="['descripcionFoto','fecha','representative.name','status']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros fotográficos"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <!-- <h5 class="m-0"><strong>CURSO: </strong> {{curso.nombreCurso!}}</h5> -->
                <h5 class="m-0"><strong>CURSO: </strong> {{ curso.nombreCurso! }}{{ curso.estadoAprovacionCurso !== 'A'
                    ? ' (No aprobado)' : '' }}</h5>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..."
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th><strong>FOTO</strong></th>

                <th pSortableColumn="descripcionFoto"> <strong>DESCRIPCIÓN</strong><p-sortIcon
                        field="descripcionFoto"></p-sortIcon></th>
                <th pSortableColumn="fecha"> <strong>FECHA</strong><p-sortIcon field="fecha"></p-sortIcon></th>

                <th pSortableColumn="inventoryStatus"> <strong>GESTIÓN</strong></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-regFotografico>
            <tr>

                <td>
                    <img [src]="regFotografico.foto ? obtenerURLImagen(regFotografico.foto) : '../../../../assets/img/subir.png'"
                        [alt]="regFotografico.name" width="100" class="shadow-4" />
                </td>

                <td>{{regFotografico.descripcionFoto}}</td>
                <td>{{regFotografico.fecha}}</td>
                <td>

                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        pTooltip="Editar" tooltipPosition="top" (click)="cargarDatosRegistrofotografico(regFotografico)"
                        [disabled]="curso.estadoAprovacionCurso !== 'A'"></button>
                    <button pButton pRipple [icon]="regFotografico.estado ? 'pi pi-trash' : 'pi pi-check'"
                        tooltipPosition="top" [pTooltip]="regFotografico.estado ? 'Desactivar' : 'Activar'"
                        [class]="'p-button-rounded ' + (regFotografico.estado ? 'p-button-warning' : 'p-button-primary') + ' mt-1'"
                        (click)="eliminadoLogicoDelregistroFotografico(regFotografico)"
                        [disabled]="curso.estadoAprovacionCurso !== 'A'">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{listRegistroFotografico ? listRegistroFotografico.length : 0 }} Registros fotográficos.
            </div>
        </ng-template>
    </p-table>
</div>

<!-- IMPLEMENTACIÓN DEL MODAL PARA EL INGRESO DE LOS CURSOS -->
<p-dialog [(visible)]="visible" [style]="{ width: '450px' }" header="REGISTRO FOTOGRÁFICO" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form (ngSubmit)="validacionRegistroFotografico()" novalidate>

            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <div class="flex-auto">
                        <div
                            class="flex-1 flex align-items-center justify-content-center font-bold  px-2 py-2 border-round">
                            <div class="container custom-text-center" style="font-size: 20px;">
                                <strong>Descripción evidencia</strong>
                            </div>
                        </div>
                    </div>

                    <div class="flex-auto">
                        <div
                            class="flex-1 flex align-items-center justify-content-center font-bold  px-2 py-2 border-round">
                            <textarea id="float-input" rows="4" cols="30" pInputTextarea id="descripcionCurso"
                                name="descripcionCurso" placeholder="Descripción"
                                [(ngModel)]="registroFotografico.descripcionFoto" required></textarea>
                        </div>
                    </div>

                    <!-- </div> -->
                </div>
            </div>


            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <div class="flex-auto">
                        <div
                            class="flex-1 flex align-items-center justify-content-center font-bold  px-2 py-2 border-round">
                            <div class="container custom-text-center" style="font-size: 20px;">
                                <strong>Foto evidencia</strong>
                            </div>
                        </div>
                    </div>

                    <div class="flex-auto">
                        <div
                            class="flex-1 flex align-items-center justify-content-center font-bold  px-2 py-2 border-round">

                            <div class="personal-image">
                                <label class="label" style="border: black;">
                                    <input type="file" accept="image/jpeg, image/jpg, image/png"
                                        (change)="onFileSelected($event)" />
                                    <figure class="personal-figure">
                                        <img *ngIf="previewImageUrl" [src]="previewImageUrl" class="personal-avatar"
                                            alt="Previsualización de imagen" />
                                        <img *ngIf="!previewImageUrl" src="./assets/img/subir.png"
                                            class="personal-avatar" alt="Imagen de marcador de posición" />
                                        <figcaption class="personal-figcaption">
                                            <img src="./assets/img/subir.png" />
                                        </figcaption>
                                    </figure>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <p-calendar inputId="edad" appendTo="body" class="ng-dirty" [showIcon]="true"
                        placeholder="Fecha de evidencia" id="fechaEvidencia" name="fechaEvidencia"
                        [(ngModel)]="registroFotografico.fecha">

                        <ng-template pTemplate="header">

                            <h6><b>Fecha de inicio y fin:</b></h6>
                            <p-divider></p-divider>
                            <p><b>inicio:</b> {{curso.fechaInicioCurso}} </p>
                            <p><b>fin:</b> {{curso.fechaFinalizacionCurso}}</p>
                        </ng-template>

                    </p-calendar>
                </div>
            </div>


            <p-button type="ngSubmit" [label]="registroFotografico.idRegistroFotograficoCurso? 'Actualizar': 'Guardar'"
                icon="pi pi-save"
                [styleClass]="'p-button-'+(registroFotografico.idRegistroFotograficoCurso ? 'success':'primary')+ ' mt-4'"></p-button>

        </form>
    </ng-template>
    <!-- <ng-template pTemplate="footer">
        <p-button pRipple label="Cancelar" icon="pi pi-times" styleClass="p-button-outlined p-button-danger"
            (click)="hideDialog()"></p-button>
        <p-button pRipple [label]="classPeriodoPrograma.idPeriodoPrograma? 'Actualizar': 'Guardar'" icon="pi pi-check"
            styleClass="p-button-outlined p-button-success"
            (click)="validarDatosProgramaCapacitacionContinua()"></p-button>
    </ng-template> -->
</p-dialog>