<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" routerLink="/login"> Log in </h2>
      <h2 class="inactive underlineHover" routerLink="/registrarPersona">Sign up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Ingresar" routerLink="/home">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvide mi contraseña</a>
      </div>
  
    </div>