<!-- IMPLEMENTACION PARA LA EDICION  EN LA MISMA TABLA -->


<div class="card">
    <p-toolbar styleClass="mb-0">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                ></button>

        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Imprimir" icon="pi pi-print"
                class="p-button-primary mr-2 inline-block" (click)="getCodigosSenecytDownload()"></button>

            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="getEstudiantesParaHacerFirmar()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt2 [value]="listparticipanteAprovado" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}"
        [rows]="3" [showCurrentPageReport]="true" [rowsPerPageOptions]="[3,5,7]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name','country.name','representative.name','status']"
        [tableStyle]="{'min-width':'75rem'}">
        <ng-template pTemplate="caption">
            <div class="flex">
                <strong> List of Customers</strong>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:22%; "><strong>IDENTIFICASIÓN</strong></th>
                <th style="width:22%; "><strong>NOMBRES</strong></th>
                <th style="width:22%; "><strong>APELLIDOS</strong></th>
                <th style="width:22%; "><strong>CÓDIGOS SENECYT</strong></th>
                <th style="width:12%; "><strong>ESTADO</strong></th>
            </tr>
            <tr>
                <th >
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th >
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th >
                    <p-columnFilter type="text" field="country.name"></p-columnFilter>
                </th>
                

                <th  >
             
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil"
                            (click)="onRowEditInit()" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check"
                            (click)="onRowEditSave()"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-times"
                            (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </th>

                
                <th >
                    <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pEditableRow]="product">
                <td>
                    {{product.partipantesMatriculados.inscrito.usuario.persona.identificacion}}
                </td>
                <td >
               
                    {{product.partipantesMatriculados.inscrito.usuario.persona.nombre1}}
                    {{product.partipantesMatriculados.inscrito.usuario.persona.nombre2}}

                </td>
                <td >
                    {{product.partipantesMatriculados.inscrito.usuario.persona.apellido1}}
                    {{product.partipantesMatriculados.inscrito.usuario.persona.apellido1}}
    
                </td>
              
          
                
                <td style="width:12%; text-align: center;">
                    <div class="container" *ngIf="editing">
                        <input pInputText type="text" [(ngModel)]="product.codigoSenecyt">
                    </div>
                    <div class="container" *ngIf="!editing">
                        {{product.codigoSenecyt}}
                    </div>
                </td>

                <td >

                    <i class="pi"
                        [ngClass]="{'true-icon pi-check-circle': product.verified, 'false-icon pi-times-circle': !product.verified}"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>











<!-- <div class="container">
    <div class="ui-g-12 ui-md-4">
        <h3>Month Picker</h3>
        <p-calendar view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"
            [showIcon]="true"></p-calendar>
    </div>
</div> -->