<div class="container">
  <div>
    <div class="button-group  m-4" style="text-align: center;">
      <button class="button" (click)="obtenerCursosFull()">Todos</button>
      <button class="button" (click)="filtrarPorModalidadTarde()">En la Tarde</button>
      <button class="button" (click)="filtrarPorModalidadManana()">Por la Mañana</button>
      <button class="button" (click)="filtrarPorModalidadBasicos()">Basicos</button>
      <button class="button" (click)="filtrarPorModalidadIntermedios()">Intermedios</button>
      <button class="button" (click)="filtrarPorModalidadSuperior()">Avanzados</button>
      <button class="button" (click)="filtrarPorModalidadPresencial()">Precencial</button>
      <button class="button" (click)="filtrarPorModalidadVirtual()">Virtual</button>
      <button class="button" (click)="filtrarPorModalidadAdministrativo()">Administrativo</button>
      <button class="button" (click)="filtrarPorModalidadTecnico()">Técnicos</button>
      <button class="button" (click)="obtenerCursosFull()">X</button>
    </div>

    <div class="container">
      <div class="grid p-fluid">
        <div class="col-12 md:col-12">
          

          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar cursos de capacitación.." (input)="filterTableCursos($event)" />
          </span>
        </div>
      </div>
     

    </div>

    <div class="pricing__title m-5">Cursos</div>
    <div class="pricing__grid">
      <div class="pricing__card pricing-card pricing-card_free" *ngFor="let list of listCursos">
        <div class="pricing-card__top">
          <div class="pricing-card__title">Disponible <i class="pi pi-verified"></i></div>
          <div class="pricing-card__price"><i class="pi pi-gift"></i> {{list.numeroCuposCurso}}<span> Cupos</span></div>
        </div>
        <div class="pricing-card__body">
          <div class="pricing-card__pluses">
            <div class="pricing-card__plus">
              <div class="pricing-card__plus-icon"><i class="pi pi-book"></i></div>
              <div class="pricing-card__plus-text">{{list.nombreCurso}}</div>
            </div>
            <div class="pricing-card__plus">
              <div class="pricing-card__plus-icon"><i class="pi pi-video"></i></div>
              <div class="pricing-card__plus-text">{{list.modalidadCurso!.nombreModalidadCurso}}</div>
            </div>
            <div class="pricing-card__plus">
              <div class="pricing-card__plus-icon"><i class="pi pi-send"></i></div>
              <div class="pricing-card__plus-text">{{list.duracionCurso}}h</div>
            </div>
            <div class="pricing-card__plus">
              <div class="pricing-card__plus-icon"><i class="pi pi-clock"></i></div>
              <div class="pricing-card__plus-text">{{list.horarioCurso!.horaInicio}} a {{list.horarioCurso!.horaFin}}
              </div>
            </div>
            <div class="pricing-card__plus">
              <div class="pricing-card__plus-icon"><i class="pi pi-calendar"></i></div>
              <div class="pricing-card__plus-text">{{list.horarioCurso!.dias}}</div>
            </div>
          </div>
          <div class="pricing-card__button"><p-button label="Detalles"
              (click)="pasarInfoCurso(list.idCurso)"></p-button>
          </div>
        </div>
      </div>
    </div>